openapi: 3.0.3
info:
  title: 'Taxo Impuestos API - Documentación'
  description: 'API RESTful para gestión de contribuyentes, categorías, documentos emitidos, documentos recibidos y reportes tributarios.'
  version: 1.0.0
servers:
  -
    url: 'https://ec-demo.taxo.co'
tags:
  -
    name: Taxpayers
    description: "\nAPI endpoints for managing taxpayers and their related data."
  -
    name: 'Emitted Documents'
    description: "\nAPI endpoints for managing emitted documents (sales documents to customers).\n\n## Document Types\n\nEmitted documents include:\n- **Invoices (Facturas de Venta)**: Sales invoices issued to customers\n- **Credit Notes**: Applied to invoices\n- **Withholdings**: Tax withholding documents received from customers\n\n## Filtering & Categorization\n\n### Date Filtering\n- **Default**: Current month if no dates provided\n- **start_date**: Filter from this date (YYYY-MM-DD)\n- **end_date**: Filter until this date (YYYY-MM-DD)\n\n### Category Filtering\n\nThe system supports both document-level and item-level categorization.\n\n**Category filters:**\n\n- `category_id[]`: Filter by specific category ID(s) - array parameter (can pass multiple)\n  \n  **Searches in:** `invoice_items.tax_payer_category_id` (line item categories)\n  \n  **Note:** To obtain the available category IDs for a taxpayer, use the categories endpoint:\n  `GET /api/v1/taxpayers/{taxNumber}/categories?type=sales`\n  \n  Each taxpayer has their own custom categories for sales. You must retrieve the category IDs \n  from this endpoint before filtering by `category_id[]`.\n\n### Regime Filtering\n- `regime`: Filter by tax regime - single value parameter\n  - `general`: General tax regime\n  - `rimpe_entrepreneur`: RIMPE Entrepreneur regime\n  - `rimpe_popular_business`: RIMPE Popular Business regime\n\n### Deductibility Filtering\n- `deductible_type`: Filter by tax deductibility - single value parameter\n  - `deductible`: Tax-deductible (Con derecho a crédito tributario)\n  - `non_deductible`: Non-deductible (Sin derecho a crédito tributario)\n\n### Status Filtering\n- `status`: Filter by document status - single value parameter\n  - `AUTORIZADO`: Authorized/valid documents\n  - `ANULADO`: Voided documents\n\n### Origin Filtering\n- `origin`: Filter by document origin/source system - single value parameter\n  - `datil`: Documents issued through Datil integration\n  - `tws`: Documents processed by Taxo Web Services\n  - `xml-import`: Documents manually imported from XML files\n  - `physical-upload`: Physical documents uploaded/entered manually by user\n\n**Note:** Most filters accept a single value.\nOnly `category_id` accepts multiple values using array notation `category_id[]=123&category_id[]=456`.\n\n## Pagination\n\n- `page`: Page number (default: 1)\n- `per_page`: Items per page, 1-100 (default: 20)"
  -
    name: 'IVA Reports'
    description: "\nAPI endpoints for managing IVA (Value Added Tax) reports.\n\n## Report Lifecycle & State Machine\n\nEach IVA report follows a state machine with controlled transitions. Understanding the states and allowed transitions is critical for proper API usage.\n\n### Report States\n\n| State | Code | Description | Can Edit? |\n|-------|------|-------------|-----------|\n| Draft | `draft` | Initial state, automatically created | ✅ Yes |\n| Edited | `edited` | Has manual modifications | ✅ Yes |\n| Saved | `saved` | Ready for review/approval | ❌ No |\n| Sent | `sent` | Sent to taxpayer for approval | ❌ No |\n| Approved | `approved` | Approved, ready for SRI submission | ❌ No |\n| Rejected | `rejected` | Rejected, requires corrections | ❌ No |\n| SRI Sended | `sri_sended` | Being sent to SRI | ❌ No |\n| SRI Completed | `sri_sended_completed` | SRI processing completed | ❌ No |\n| Declared | `declared` | Successfully declared in SRI | ❌ No |\n| Error | `error` | Error during SRI submission | ❌ No |\n\n### State Transitions Matrix\n\n| From State | Allowed Transitions | Endpoints |\n|------------|---------------------|-----------|\n| `draft` | → `edited`, `saved` | `/save` |\n| `edited` | → `draft`, `saved` | `/recalculate`, `/save` |\n| `saved` | → `draft`, `sent`, `approved`, `rejected`, `sri_sended` | `/recalculate`, `/send`, `/approve`, `/reject`, `/send-sri-draft` |\n| `sent` | → `draft`, `approved`, `rejected` | `/recalculate`, `/approve`, `/reject` |\n| `approved` | → `draft`, `sri_sended`, `declared` | `/recalculate`, `/send-sri-draft`, `/mark-declared` |\n| `rejected` | → `draft` | `/recalculate` |\n| `sri_sended` | → `sri_sended_completed`, `error` | (automatic) |\n| `sri_sended_completed` | → `draft`, `approved`, `rejected`, `declared` | `/recalculate`, `/approve`, `/reject`, `/mark-declared` |\n| `error` | → `draft`, `sri_sended` | `/recalculate`, `/send-sri-draft` |\n| `declared` | → `draft` | `/recalculate` |\n\n### Common Workflows\n\n#### Workflow 1: Direct Approval (no taxpayer review)\n```\n1. POST   /iva-reports                    → Creates report (draft)\n2. GET    /iva-reports/{period}           → Review calculated values\n3. PATCH  /iva-reports/save               → Lock for review (saved)\n4. PATCH  /iva-reports/approve            → Approve report (approved)\n5. POST   /iva-reports/send-sri-draft     → Submit to SRI (sri_sended → sri_sended_completed)\n6. PATCH  /iva-reports/mark-declared      → Mark as declared (declared)\n```\n\n#### Workflow 2: With Taxpayer Approval\n```\n1. POST   /iva-reports                    → Creates report (draft)\n2. PATCH  /iva-reports/save               → Lock for review (saved)\n3. POST   /iva-reports/send               → Email to taxpayer (sent)\n4. [Taxpayer reviews and approves via link]\n5. POST   /iva-reports/send-sri-draft     → Submit to SRI (approved → sri_sended)\n6. PATCH  /iva-reports/mark-declared      → Mark as declared (declared)\n```\n\n#### Workflow 3: SRI Draft First, Then Approval\n```\n1. POST   /iva-reports                    → Creates report (draft)\n2. PATCH  /iva-reports/save               → Lock for review (saved)\n3. POST   /iva-reports/send-sri-draft     → Submit draft to SRI (sri_sended → sri_sended_completed)\n4. POST   /iva-reports/send               → Email to taxpayer (sent)\n5. [Taxpayer approves via link]\n6. PATCH  /iva-reports/mark-declared      → Mark as declared (declared)\n```\n\n#### Workflow 4: Rejection & Correction\n```\n1. POST   /iva-reports                    → Creates report (draft)\n2. PATCH  /iva-reports/save               → Lock for review (saved)\n3. POST   /iva-reports/send               → Email to taxpayer (sent)\n4. PATCH  /iva-reports/reject             → Reject with comments (rejected)\n5. POST   /iva-reports/recalculate        → Reset to draft (draft)\n6. [Add missing documents, correct errors]\n7. PATCH  /iva-reports/save               → Save again (saved)\n8. PATCH  /iva-reports/approve            → Approve (approved)\n```\n\n### Endpoints That Don't Require Transitions\n\nThese endpoints can be called at any time regardless of state:\n\n- **`GET /iva-reports`** - List all reports\n- **`GET /iva-reports/{period}`** - View specific report details\n- **`POST /iva-reports`** - Create new report (always starts in `draft`)\n- **`POST /iva-reports/recalculate`** - Reset report to `draft` (allowed from most states)\n\n### Important Notes\n\n1. **Report Identification**: Reports are uniquely identified by `taxpayer_id`, `period`, and `team_id`\n2. **Period Format**: Use `YYYY-MM` format (e.g., `2024-03`). The system auto-calculates the exact date based on taxpayer's periodicity\n3. **Automatic Calculations**: Reports are automatically calculated from issued/received documents when created\n4. **State Validation**: All state-changing endpoints validate transitions. Invalid transitions return `400 INVALID_TRANSITION`\n5. **Idempotency**: Some endpoints are idempotent (e.g., `/save` from `saved` state, `/send` from `sent` state)\n\n### Error Handling\n\n- **`400 INVALID_TRANSITION`**: Attempted invalid state transition\n- **`404 NOT_FOUND`**: Report or taxpayer not found\n- **`422 VALIDATION_ERROR`**: Invalid input parameters\n- **`503 EMAIL_SEND_FAILED`**: Email service unavailable (only `/send` endpoint)"
  -
    name: 'Received Documents'
    description: "\nAPI endpoints for managing received documents (purchase documents from suppliers).\n\n## Document Types\n\nReceived documents include:\n- **Invoices (Facturas de Compra)**: Standard purchase invoices from suppliers\n- **Credit Notes**: Applied to invoices\n- **Withholdings**: Tax withholding documents\n\n## Filtering & Categorization\n\n### Date Filtering\n- **Default**: Current month if no dates provided\n- **start_date**: Filter from this date (YYYY-MM-DD)\n- **end_date**: Filter until this date (YYYY-MM-DD)\n\n### Category Filtering\n\nThe system supports two types of categorization:\n\n1. **Document-level categorization (mono-category)**: All items in the document share the same category\n2. **Item-level categorization (multi-category)**: Each line item has its own category\n\n**How Category Filters Work:**\n\nBoth category filters search at the **item level** (bill_items table). If **any item** in a document \nmatches the filter criteria, the **entire document** is included in the results.\n\n**Example:**\n```\nDocument #001:\n  - Item 1: Category \"Office Supplies\" (id: 123)\n  - Item 2: Category \"Services\" (id: 456)\n  - Item 3: Category \"Office Supplies\" (id: 123)\n\nFilter: category_id[]=123\nResult: ✓ Document #001 is included (has items with category 123)\n```\n\n**Category filters:**\n\n- `category_id[]`: Filter by specific category ID(s) - array parameter (can pass multiple)\n  \n  **Searches in:** `bill_items.tax_payer_category_id` (line item categories)\n  \n  **Note:** To obtain the available category IDs for a taxpayer, use the categories endpoint:\n  `GET /api/v1/taxpayers/{taxNumber}/categories`\n  \n  Each taxpayer has their own custom categories. You must retrieve the category IDs \n  from this endpoint before filtering by `category_id[]`.\n  \n- `category_type`: Filter by expense type - single value parameter\n  \n  **Searches in:** `bills.category_types` (JSON field that summarizes item categories)\n  \n  **Available values:**\n  - `commercial_expenses`: Business-related expenses (Actividad Comercial)\n  - `personal_expenses`: Personal expenses (Gasto Personal)\n  - `non_deductible_expenses`: Non-deductible expenses (No Deducible)\n\n### Deductibility Filtering\n- `deductible_type`: Filter by tax deductibility - single value parameter\n  - `deductible`: Tax-deductible expenses (Con derecho a crédito tributario)\n  - `non_deductible`: Non-deductible expenses (Sin derecho a crédito tributario)\n\n### Status Filtering\n- `status`: Filter by document status - single value parameter\n  - `AUTORIZADO`: Authorized/valid documents\n  - `ANULADO`: Voided documents\n\n### Search & Other Filters\n- `search`: Search in provider name, RUC, email, phone, document number, or access key\n- `uncategorized`: Filter uncategorized documents (boolean: true/false)\n- `origin`: Filter by document origin/source system - single value parameter\n  - `tws`: Documents automatically processed by Taxo Web Services from SRI\n  - `xml-import`: Documents manually imported from XML files\n  - `physical-upload`: Physical documents uploaded/entered manually by user\n\n**Note:** Most filters accept a single value.\nOnly `category_id` accepts multiple values using array notation `category_id[]=123&category_id[]=456`.\n\n## Sorting\n\nDefault sort: `-date_only,-bill_number` (newest first, then by number descending)\n\nAvailable sort fields (prefix with `-` for descending):\n- `date_only`: Document date\n- `bill_number`: Document number\n- `contact_name`: Provider name\n- `sub_total`: Subtotal amount\n- `total`: Total amount\n\n**Example:** `sort=-total,date_only` (highest total first, then oldest date)\n\n\n## Important Notes\n\n1. **Consistent Results**: This API uses the same services and repositories as the UI, ensuring identical results\n2. **Performance**: The endpoint uses optimized queries with lazy loading for related data\n3. **Pagination**: Results are paginated (default 20 items per page, max 100)\n4. **Timezone**: All dates are in UTC. Document dates (`billed_at`) show local Ecuador time"
components:
  securitySchemes:
    default:
      type: apiKey
      name: x-api-key
      in: header
      description: 'Puedes obtener tu API key y Organization ID desde tu dashboard de TWS. <br><br>Debes incluir también el header <code>x-organization-id</code> con tu Organization ID.'
security:
  -
    default: []
paths:
  /api/v1/taxpayers:
    get:
      summary: 'List taxpayers'
      operationId: listTaxpayers
      description: "Retrieves a paginated list of all taxpayers belonging to the authenticated organization.\nYou can filter and sort the results using query parameters."
      parameters:
        -
          in: query
          name: page
          description: 'Page number for pagination. El campo value debe ser al menos 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. El campo value debe ser al menos 1.'
            example: 1
            nullable: true
        -
          in: query
          name: per_page
          description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
            example: 20
            nullable: true
        -
          in: query
          name: sort
          description: 'Sort field and direction. Prefix with "-" for descending order.'
          example: '-created_at'
          required: false
          schema:
            type: string
            description: 'Sort field and direction. Prefix with "-" for descending order.'
            example: '-created_at'
            enum:
              - business_name
              - '-business_name'
              - tax_number
              - '-tax_number'
              - next_declaration
              - '-next_declaration'
              - created_at
              - '-created_at'
            nullable: true
        -
          in: query
          name: search
          description: 'Search term to filter by business name or tax number. El campo value no debe ser mayor que 255 caracteres.'
          example: 'Empresa S.A.'
          required: false
          schema:
            type: string
            description: 'Search term to filter by business name or tax number. El campo value no debe ser mayor que 255 caracteres.'
            example: 'Empresa S.A.'
            nullable: true
        -
          in: query
          name: status
          description: 'Filter by status (0=inactive, 1=active).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by status (0=inactive, 1=active).'
            example: 1
            enum:
              - '0'
              - '1'
            nullable: true
        -
          in: query
          name: iva_period
          description: 'Filter by IVA period (MENSUAL, SEMESTRAL).'
          example: MENSUAL
          required: false
          schema:
            type: string
            description: 'Filter by IVA period (MENSUAL, SEMESTRAL).'
            example: MENSUAL
            enum:
              - MENSUAL
              - SEMESTRAL
            nullable: true
        -
          in: query
          name: tax_regime_cat
          description: 'Filter by tax regime category.'
          example: GENERAL
          required: false
          schema:
            type: string
            description: 'Filter by tax regime category.'
            example: GENERAL
            enum:
              - RISE
              - GENERAL
              - ESPECIAL
            nullable: true
        -
          in: query
          name: declaration_day
          description: 'Filter by declaration day (1-28). El campo value debe ser al menos 1. El campo value no debe ser mayor que 28.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Filter by declaration day (1-28). El campo value debe ser al menos 1. El campo value no debe ser mayor que 28.'
            example: 10
            nullable: true
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Taxpayers retrieved successfully'
                  data:
                    taxpayers:
                      -
                        id: 144
                        ulid: 01HZXXX...
                        tax_number: '1726051285001'
                        business_name: 'EMPRESA DEMO S.A.'
                        trade_name: DEMO
                        tax_payer_status: ACTIVE
                        tax_regime: general
                        tax_regime_cat: general
                        iva_period: monthly
                        declaration_day: 12
                        required_to_keep_accounts: SI
                        withholding_agent: SI
                        special_contributor: 'NO'
                        economic_activity: 'Actividades de consultoría de gestión empresarial'
                        start_activities_date: '2020-01-15T00:00:00.000000Z'
                        created_at: '2024-01-15T10:30:00.000000Z'
                        updated_at: '2024-01-15T10:30:00.000000Z'
                  meta:
                    pagination:
                      total: 5
                      count: 5
                      per_page: 20
                      current_page: 1
                      total_pages: 1
                    filters:
                      status: ACTIVE
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Taxpayers retrieved successfully'
                  data:
                    type: object
                    properties:
                      taxpayers:
                        type: array
                        example:
                          -
                            id: 144
                            ulid: 01HZXXX...
                            tax_number: '1726051285001'
                            business_name: 'EMPRESA DEMO S.A.'
                            trade_name: DEMO
                            tax_payer_status: ACTIVE
                            tax_regime: general
                            tax_regime_cat: general
                            iva_period: monthly
                            declaration_day: 12
                            required_to_keep_accounts: SI
                            withholding_agent: SI
                            special_contributor: 'NO'
                            economic_activity: 'Actividades de consultoría de gestión empresarial'
                            start_activities_date: '2020-01-15T00:00:00.000000Z'
                            created_at: '2024-01-15T10:30:00.000000Z'
                            updated_at: '2024-01-15T10:30:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 144
                            ulid:
                              type: string
                              example: 01HZXXX...
                            tax_number:
                              type: string
                              example: '1726051285001'
                            business_name:
                              type: string
                              example: 'EMPRESA DEMO S.A.'
                            trade_name:
                              type: string
                              example: DEMO
                            tax_payer_status:
                              type: string
                              example: ACTIVE
                            tax_regime:
                              type: string
                              example: general
                            tax_regime_cat:
                              type: string
                              example: general
                            iva_period:
                              type: string
                              example: monthly
                            declaration_day:
                              type: integer
                              example: 12
                            required_to_keep_accounts:
                              type: string
                              example: SI
                            withholding_agent:
                              type: string
                              example: SI
                            special_contributor:
                              type: string
                              example: 'NO'
                            economic_activity:
                              type: string
                              example: 'Actividades de consultoría de gestión empresarial'
                            start_activities_date:
                              type: string
                              example: '2020-01-15T00:00:00.000000Z'
                            created_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                            updated_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 5
                          count:
                            type: integer
                            example: 5
                          per_page:
                            type: integer
                            example: 20
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                      filters:
                        type: object
                        properties:
                          status:
                            type: string
                            example: ACTIVE
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        500:
          description: 'Server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'An error occurred while retrieving taxpayers'
                  code: SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'An error occurred while retrieving taxpayers'
                  code:
                    type: string
                    example: SERVER_ERROR
      tags:
        - Taxpayers
    post:
      summary: 'Create a new taxpayer'
      operationId: createANewTaxpayer
      description: "Creates a new taxpayer in your organization after validating that the tax identifier exists\nin the TWS (Tax Web Services) registry. Accepts RUC (13 digits), Cédula (10 digits), or Passport.\n\nThis endpoint will:\n1. Validate the taxpayer doesn't already exist in your organization\n2. Query the TWS registry API to verify the identifier is valid and active\n3. Create the taxpayer with all available data from TWS\n4. Automatically create default categories for document classification\n5. Set up auto-categorization rules\n\n**Note:** This process may take 5-10 seconds as it queries external services."
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        201:
          description: 'Taxpayer created successfully'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Taxpayer created successfully'
                  data:
                    taxpayer:
                      id: 01JDXYZ123ABC456DEF789GHI
                      tax_number: '1726051285001'
                      business_name: 'AGUIRRE MEJIA AIDA ISABEL'
                      legal_name: 'AGUIRRE MEJIA AIDA ISABEL'
                      email: null
                      phone: null
                      status: 1
                      tax_payer_status: ACTIVO
                      economic_activity: 'VENTA AL POR MAYOR DE FRUTAS'
                      tax_regime: GENERAL
                      tax_regime_cat: general
                      iva_period: monthly
                      category: null
                      required_to_keep_accounts: 'NO'
                      withholding_agent: 'NO'
                      special_contributor: 'NO'
                      declaration_day: 12
                      next_declaration: null
                      start_activities_date: '2018-09-04'
                      last_sync_at: null
                      created_at: '2024-12-02 15:30:45'
                      updated_at: '2024-12-02 15:30:45'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Taxpayer created successfully'
                  data:
                    type: object
                    properties:
                      taxpayer:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01JDXYZ123ABC456DEF789GHI
                          tax_number:
                            type: string
                            example: '1726051285001'
                          business_name:
                            type: string
                            example: 'AGUIRRE MEJIA AIDA ISABEL'
                          legal_name:
                            type: string
                            example: 'AGUIRRE MEJIA AIDA ISABEL'
                          email:
                            type: string
                            example: null
                          phone:
                            type: string
                            example: null
                          status:
                            type: integer
                            example: 1
                          tax_payer_status:
                            type: string
                            example: ACTIVO
                          economic_activity:
                            type: string
                            example: 'VENTA AL POR MAYOR DE FRUTAS'
                          tax_regime:
                            type: string
                            example: GENERAL
                          tax_regime_cat:
                            type: string
                            example: general
                          iva_period:
                            type: string
                            example: monthly
                          category:
                            type: string
                            example: null
                          required_to_keep_accounts:
                            type: string
                            example: 'NO'
                          withholding_agent:
                            type: string
                            example: 'NO'
                          special_contributor:
                            type: string
                            example: 'NO'
                          declaration_day:
                            type: integer
                            example: 12
                          next_declaration:
                            type: string
                            example: null
                          start_activities_date:
                            type: string
                            example: '2018-09-04'
                          last_sync_at:
                            type: string
                            example: null
                          created_at:
                            type: string
                            example: '2024-12-02 15:30:45'
                          updated_at:
                            type: string
                            example: '2024-12-02 15:30:45'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found in TWS'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found in TWS. Please verify the taxpayer ID'
                  code: TAXPAYER_NOT_FOUND_IN_TWS
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found in TWS. Please verify the taxpayer ID'
                  code:
                    type: string
                    example: TAXPAYER_NOT_FOUND_IN_TWS
        409:
          description: 'Taxpayer already exists'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer already exists for this organization'
                  code: TAXPAYER_ALREADY_EXISTS
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer already exists for this organization'
                  code:
                    type: string
                    example: TAXPAYER_ALREADY_EXISTS
        422:
          description: 'Validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation failed'
                  code: VALIDATION_ERROR
                  errors:
                    taxpayerId:
                      - 'The taxpayer ID can only contain letters, numbers, and hyphens'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation failed'
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  errors:
                    type: object
                    properties:
                      taxpayerId:
                        type: array
                        example:
                          - 'The taxpayer ID can only contain letters, numbers, and hyphens'
                        items:
                          type: string
        500:
          description: 'Internal server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Failed to create taxpayer due to an internal error'
                  code: INTERNAL_SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Failed to create taxpayer due to an internal error'
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
        503:
          description: 'TWS service unavailable'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Unable to verify taxpayer with TWS app'
                  code: TWS_SERVICE_UNAVAILABLE
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Unable to verify taxpayer with TWS app'
                  code:
                    type: string
                    example: TWS_SERVICE_UNAVAILABLE
        504:
          description: 'TWS service timeout'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'TWS service timeout. Please try again later'
                  code: TWS_SERVICE_TIMEOUT
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'TWS service timeout. Please try again later'
                  code:
                    type: string
                    example: TWS_SERVICE_TIMEOUT
      tags:
        - Taxpayers
  '/api/v1/taxpayers/{taxNumber}':
    get:
      summary: 'Get a specific taxpayer'
      operationId: getASpecificTaxpayer
      description: "Retrieves detailed information for a specific taxpayer identified by their RUC number.\nThe taxpayer must belong to the authenticated organization."
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Taxpayer retrieved successfully'
                  data:
                    taxpayer:
                      id: 144
                      ulid: 01HZXXX...
                      tax_number: '1726051285001'
                      business_name: 'EMPRESA DEMO S.A.'
                      trade_name: DEMO
                      address: 'Av. Principal 123 y Secundaria'
                      phone: '0987654321'
                      email: contacto@demo.com
                      legal_representatives: 'Juan Pérez, María González'
                      economic_activity: 'Actividades de consultoría de gestión empresarial'
                      tax_payer_status: ACTIVE
                      tax_payer_type: 'PERSONA JURÍDICA'
                      tax_regime: general
                      tax_regime_cat: general
                      category: null
                      iva_period: monthly
                      declaration_day: 12
                      required_to_keep_accounts: SI
                      withholding_agent: SI
                      special_contributor: 'NO'
                      ghost_taxpayer: 'NO'
                      nonexistent_transactions: 'NO'
                      start_activities_date: '2020-01-15T00:00:00.000000Z'
                      cessation_date: null
                      restart_activities_date: null
                      information_update_date: '2024-01-15T00:00:00.000000Z'
                      created_at: '2024-01-15T10:30:00.000000Z'
                      updated_at: '2024-01-15T10:30:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Taxpayer retrieved successfully'
                  data:
                    type: object
                    properties:
                      taxpayer:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 144
                          ulid:
                            type: string
                            example: 01HZXXX...
                          tax_number:
                            type: string
                            example: '1726051285001'
                          business_name:
                            type: string
                            example: 'EMPRESA DEMO S.A.'
                          trade_name:
                            type: string
                            example: DEMO
                          address:
                            type: string
                            example: 'Av. Principal 123 y Secundaria'
                          phone:
                            type: string
                            example: '0987654321'
                          email:
                            type: string
                            example: contacto@demo.com
                          legal_representatives:
                            type: string
                            example: 'Juan Pérez, María González'
                          economic_activity:
                            type: string
                            example: 'Actividades de consultoría de gestión empresarial'
                          tax_payer_status:
                            type: string
                            example: ACTIVE
                          tax_payer_type:
                            type: string
                            example: 'PERSONA JURÍDICA'
                          tax_regime:
                            type: string
                            example: general
                          tax_regime_cat:
                            type: string
                            example: general
                          category:
                            type: string
                            example: null
                          iva_period:
                            type: string
                            example: monthly
                          declaration_day:
                            type: integer
                            example: 12
                          required_to_keep_accounts:
                            type: string
                            example: SI
                          withholding_agent:
                            type: string
                            example: SI
                          special_contributor:
                            type: string
                            example: 'NO'
                          ghost_taxpayer:
                            type: string
                            example: 'NO'
                          nonexistent_transactions:
                            type: string
                            example: 'NO'
                          start_activities_date:
                            type: string
                            example: '2020-01-15T00:00:00.000000Z'
                          cessation_date:
                            type: string
                            example: null
                          restart_activities_date:
                            type: string
                            example: null
                          information_update_date:
                            type: string
                            example: '2024-01-15T00:00:00.000000Z'
                          created_at:
                            type: string
                            example: '2024-01-15T10:30:00.000000Z'
                          updated_at:
                            type: string
                            example: '2024-01-15T10:30:00.000000Z'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found'
                  code: TAXPAYER_NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found'
                  code:
                    type: string
                    example: TAXPAYER_NOT_FOUND
        500:
          description: 'Server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'An error occurred while retrieving the taxpayer'
                  code: SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'An error occurred while retrieving the taxpayer'
                  code:
                    type: string
                    example: SERVER_ERROR
      tags:
        - Taxpayers
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/categories':
    get:
      summary: 'Get taxpayer categories'
      operationId: getTaxpayerCategories
      description: "Retrieves a paginated list of categories for a specific taxpayer.\nCategories are used to classify purchase and sales documents."
      parameters:
        -
          in: query
          name: page
          description: 'Page number for pagination. El campo value debe ser al menos 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. El campo value debe ser al menos 1.'
            example: 1
            nullable: true
        -
          in: query
          name: per_page
          description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
            example: 20
            nullable: true
        -
          in: query
          name: document_type
          description: 'Filter by document type (purchases or sales).'
          example: sales
          required: false
          schema:
            type: string
            description: 'Filter by document type (purchases or sales).'
            example: sales
            enum:
              - purchases
              - sales
            nullable: true
        -
          in: query
          name: category_type
          description: 'Filter by category type (personal_expenses, commercial_expenses, non_deductible_expenses, sales).'
          example: commercial_expenses
          required: false
          schema:
            type: string
            description: 'Filter by category type (personal_expenses, commercial_expenses, non_deductible_expenses, sales).'
            example: commercial_expenses
            enum:
              - personal_expenses
              - commercial_expenses
              - non_deductible_expenses
              - sales
            nullable: true
        -
          in: query
          name: enabled
          description: 'Filter by enabled status (1 or 0).'
          example: 1
          required: false
          schema:
            type: string
            description: 'Filter by enabled status (1 or 0).'
            example: 1
            nullable: true
        -
          in: query
          name: editable
          description: 'Filter by editable status (1 or 0).'
          example: 1
          required: false
          schema:
            type: string
            description: 'Filter by editable status (1 or 0).'
            example: 1
            nullable: true
        -
          in: query
          name: search
          description: 'Search term to filter by name, code, or description. El campo value no debe ser mayor que 255 caracteres.'
          example: Alimentación
          required: false
          schema:
            type: string
            description: 'Search term to filter by name, code, or description. El campo value no debe ser mayor que 255 caracteres.'
            example: Alimentación
            nullable: true
        -
          in: query
          name: filter
          description: ''
          example: null
          required: false
          schema:
            type: object
            description: ''
            example: null
            properties: {  }
            nullable: true
        -
          in: query
          name: filter.document_type
          description: ''
          example: sales
          required: false
          schema:
            type: string
            description: ''
            example: sales
            enum:
              - purchases
              - sales
            nullable: true
        -
          in: query
          name: filter.category_type
          description: ''
          example: non_deductible_expenses
          required: false
          schema:
            type: string
            description: ''
            example: non_deductible_expenses
            enum:
              - personal_expenses
              - commercial_expenses
              - non_deductible_expenses
              - sales
            nullable: true
        -
          in: query
          name: filter.enabled
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: true
        -
          in: query
          name: filter.editable
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: true
        -
          in: query
          name: filter.search
          description: 'El campo value no debe ser mayor que 255 caracteres.'
          example: vmqeopfuudtdsufvyvddq
          required: false
          schema:
            type: string
            description: 'El campo value no debe ser mayor que 255 caracteres.'
            example: vmqeopfuudtdsufvyvddq
            nullable: true
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Categories retrieved successfully'
                  data:
                    categories:
                      -
                        id: 9857
                        name: Alimentación
                        code: D-001
                        description: null
                        icon: 'M20 10a5.27...'
                        color: bg-teal-500
                        document_type: purchases
                        category_type: personal_expenses
                        editable: false
                        has_been_edited: false
                        enabled: true
                        created_at: '2024-01-15T10:30:00.000000Z'
                        updated_at: '2024-01-15T10:30:00.000000Z'
                        archived_at: null
                  meta:
                    pagination:
                      total: 30
                      count: 20
                      per_page: 20
                      current_page: 1
                      total_pages: 2
                    filters:
                      document_type: purchases
                      enabled: true
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Categories retrieved successfully'
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        example:
                          -
                            id: 9857
                            name: Alimentación
                            code: D-001
                            description: null
                            icon: 'M20 10a5.27...'
                            color: bg-teal-500
                            document_type: purchases
                            category_type: personal_expenses
                            editable: false
                            has_been_edited: false
                            enabled: true
                            created_at: '2024-01-15T10:30:00.000000Z'
                            updated_at: '2024-01-15T10:30:00.000000Z'
                            archived_at: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 9857
                            name:
                              type: string
                              example: Alimentación
                            code:
                              type: string
                              example: D-001
                            description:
                              type: string
                              example: null
                            icon:
                              type: string
                              example: 'M20 10a5.27...'
                            color:
                              type: string
                              example: bg-teal-500
                            document_type:
                              type: string
                              example: purchases
                            category_type:
                              type: string
                              example: personal_expenses
                            editable:
                              type: boolean
                              example: false
                            has_been_edited:
                              type: boolean
                              example: false
                            enabled:
                              type: boolean
                              example: true
                            created_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                            updated_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                            archived_at:
                              type: string
                              example: null
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 20
                          per_page:
                            type: integer
                            example: 20
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 2
                      filters:
                        type: object
                        properties:
                          document_type:
                            type: string
                            example: purchases
                          enabled:
                            type: boolean
                            example: true
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found or access denied'
                  code: TAXPAYER_NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found or access denied'
                  code:
                    type: string
                    example: TAXPAYER_NOT_FOUND
        500:
          description: 'Server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Failed to retrieve categories. Please try again later.'
                  code: SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Failed to retrieve categories. Please try again later.'
                  code:
                    type: string
                    example: SERVER_ERROR
      tags:
        - Taxpayers
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/emitted':
    get:
      summary: 'List emitted documents for a taxpayer'
      operationId: listEmittedDocumentsForATaxpayer
      description: "Retrieves a paginated list of emitted documents (sales invoices) for a specific taxpayer.\nThis endpoint returns the same data as the UI emitted documents listing.\n\n**IMPORTANT:** This is a GET request. All parameters must be sent as query string parameters in the URL.\nDo NOT send a request body.\n\n**Example URLs:**\n\nBasic query with date range:\n```\nGET /api/v1/taxpayers/1726051285001/emitted?start_date=2024-01-01&end_date=2024-01-31&page=1&per_page=20\n```\n\nWith filters for general regime deductible invoices:\n```\nGET /api/v1/taxpayers/1726051285001/emitted?regime=general&deductible_type=deductible&status=AUTORIZADO\n```\n\n**Important - HTTP Headers:**\n- **Required headers**: `x-api-key`, `x-organization-id`, `Accept: application/json`\n- **Do NOT send**: `Content-Type: application/json` (this is a GET request, parameters go in the URL)\n\n**Filter Format:** All filters use top-level query parameters.\n\n**Filtering Examples:**\n\nFilter by regime (general only):\n```\nGET /api/v1/taxpayers/1726051285001/emitted?regime=general\n```\n\nFilter by deductibility (only deductible):\n```\nGET /api/v1/taxpayers/1726051285001/emitted?deductible_type=deductible\n```\n\nFilter by specific categories (multiple IDs allowed):\n```\nGET /api/v1/taxpayers/1726051285001/emitted?category_id[]=123&category_id[]=456\n```\n*Note: First retrieve available categories from GET /api/v1/taxpayers/{taxNumber}/categories?type=sales*\n\nFilter by status (authorized documents only):\n```\nGET /api/v1/taxpayers/1726051285001/emitted?status=AUTORIZADO\n```\n\nFilter by origin (only Datil-issued documents):\n```\nGET /api/v1/taxpayers/1726051285001/emitted?origin=datil\n```\n\nMultiple filters combined (real use case):\n```\nGET /api/v1/taxpayers/1726051285001/emitted?start_date=2024-01-01&end_date=2024-01-31&regime=general&deductible_type=deductible&status=AUTORIZADO\n```"
      parameters:
        -
          in: query
          name: start_date
          description: 'Start date for filtering (YYYY-MM-DD). Defaults to first day of current month.'
          example: null
          required: false
          schema:
            type: string
            description: 'Start date for filtering (YYYY-MM-DD). Defaults to first day of current month.'
            example: null
        -
          in: query
          name: end_date
          description: 'End date for filtering (YYYY-MM-DD). Defaults to last day of current month.'
          example: null
          required: false
          schema:
            type: string
            description: 'End date for filtering (YYYY-MM-DD). Defaults to last day of current month.'
            example: null
        -
          in: query
          name: page
          description: 'Page number for pagination. Default: 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. Default: 1.'
            example: null
        -
          in: query
          name: per_page
          description: 'Items per page (1-100). Default: 20.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Items per page (1-100). Default: 20.'
            example: null
        -
          in: query
          name: 'category_id[]'
          description: 'Filter by category ID(s). Can pass multiple values using array notation. To obtain available category IDs for the taxpayer, use GET /api/v1/taxpayers/{taxNumber}/categories?type=sales.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Filter by category ID(s). Can pass multiple values using array notation. To obtain available category IDs for the taxpayer, use GET /api/v1/taxpayers/{taxNumber}/categories?type=sales.'
            example: null
        -
          in: query
          name: regime
          description: 'Filter by tax regime. Must be one of: general, rimpe_entrepreneur, rimpe_popular_business.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by tax regime. Must be one of: general, rimpe_entrepreneur, rimpe_popular_business.'
            example: null
        -
          in: query
          name: deductible_type
          description: 'Filter by tax deductibility. Must be one of: deductible, non_deductible.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by tax deductibility. Must be one of: deductible, non_deductible.'
            example: null
        -
          in: query
          name: status
          description: 'Filter by document status. Must be one of: AUTORIZADO, ANULADO.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by document status. Must be one of: AUTORIZADO, ANULADO.'
            example: null
        -
          in: query
          name: origin
          description: 'Filter by document origin/source system. Must be one of: datil, physical-upload, tws, xml-import.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by document origin/source system. Must be one of: datil, physical-upload, tws, xml-import.'
            example: null
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Success - with invoices'
                    type: object
                    example:
                      status: success
                      message: 'Emitted documents retrieved successfully'
                      data:
                        invoices:
                          -
                            id: 54321
                            ulid: 01HZYYY789DEF012
                            invoice_number: 001-001-000005678
                            access_key: '0101202401172605128500110010010000056781234567813'
                            invoiced_at: '2024-01-20T10:15:00.000000Z'
                            authorization_date: '2024-01-20T10:16:30.000000Z'
                            date_only: '2024-01-20'
                            invoice_status: AUTORIZADO
                            is_physical: false
                            is_sale_note: false
                            is_locked: false
                            lock_reason: null
                            locked_by_accountant: false
                            origin: datil
                            document_type: electronic
                            recipient:
                              tax_number: '9876543210001'
                              business_name: 'CLIENTE DEMO CIA. LTDA.'
                              email: cliente@example.com
                              phone: '0987654321'
                              address: 'Av. Cliente 456'
                              forced_to_accounting: true
                            payment:
                              payment_method: '20'
                              payment_amount: 224.0
                            totals:
                              subtotal_vat_zero: 0.0
                              subtotal_vat_five: 0.0
                              subtotal_vat_twelve: 200.0
                              subtotal_vat_thirteen: 0.0
                              subtotal_vat_fourteen: 0.0
                              subtotal_vat_fifteen: 0.0
                              subtotal_vat_special: 0.0
                              subtotal_vat_exempt: 0.0
                              subtotal_vat_not_subject: 0.0
                              sub_total: 200.0
                              discount: 0.0
                              tip: 0.0
                              subsidy: 0.0
                              total: 224.0
                            taxes:
                              vat_five: 0.0
                              vat_twelve: 24.0
                              vat_thirteen: 0.0
                              vat_fourteen: 0.0
                              vat_fifteen: 0.0
                              vat_special: 0.0
                              ice: 0.0
                              irbpnr: 0.0
                              total_tax: 24.0
                            tax_payer_category_id: 78
                            regime: general
                            deductible_type: deductible
                            categories:
                              - 78
                            regimes:
                              - general
                            deductible_types:
                              - deductible
                            categorized_by:
                              - manual
                            is_multicategory: false
                            has_credit_notes: false
                            has_withholdings: false
                            url_pdf: 'https://example.com/invoice.pdf'
                            xml_raw_url: 'https://example.com/invoice.xml'
                            notes: null
                            voided_at: null
                            voided_origin: null
                            created_at: '2024-01-20T10:17:00.000000Z'
                            updated_at: '2024-01-20T10:17:00.000000Z'
                      meta:
                        pagination:
                          current_page: 1
                          per_page: 20
                          total: 32
                          total_pages: 2
                          from: 1
                          to: 20
                        filters_applied:
                          start_date: '2024-01-01'
                          end_date: '2024-01-31'
                          regime: general
                          deductible_type: deductible
                          status: AUTORIZADO
                    properties:
                      status:
                        type: string
                        example: success
                      message:
                        type: string
                        example: 'Emitted documents retrieved successfully'
                      data:
                        type: object
                        properties:
                          invoices:
                            type: array
                            example:
                              -
                                id: 54321
                                ulid: 01HZYYY789DEF012
                                invoice_number: 001-001-000005678
                                access_key: '0101202401172605128500110010010000056781234567813'
                                invoiced_at: '2024-01-20T10:15:00.000000Z'
                                authorization_date: '2024-01-20T10:16:30.000000Z'
                                date_only: '2024-01-20'
                                invoice_status: AUTORIZADO
                                is_physical: false
                                is_sale_note: false
                                is_locked: false
                                lock_reason: null
                                locked_by_accountant: false
                                origin: datil
                                document_type: electronic
                                recipient:
                                  tax_number: '9876543210001'
                                  business_name: 'CLIENTE DEMO CIA. LTDA.'
                                  email: cliente@example.com
                                  phone: '0987654321'
                                  address: 'Av. Cliente 456'
                                  forced_to_accounting: true
                                payment:
                                  payment_method: '20'
                                  payment_amount: 224
                                totals:
                                  subtotal_vat_zero: 0
                                  subtotal_vat_five: 0
                                  subtotal_vat_twelve: 200
                                  subtotal_vat_thirteen: 0
                                  subtotal_vat_fourteen: 0
                                  subtotal_vat_fifteen: 0
                                  subtotal_vat_special: 0
                                  subtotal_vat_exempt: 0
                                  subtotal_vat_not_subject: 0
                                  sub_total: 200
                                  discount: 0
                                  tip: 0
                                  subsidy: 0
                                  total: 224
                                taxes:
                                  vat_five: 0
                                  vat_twelve: 24
                                  vat_thirteen: 0
                                  vat_fourteen: 0
                                  vat_fifteen: 0
                                  vat_special: 0
                                  ice: 0
                                  irbpnr: 0
                                  total_tax: 24
                                tax_payer_category_id: 78
                                regime: general
                                deductible_type: deductible
                                categories:
                                  - 78
                                regimes:
                                  - general
                                deductible_types:
                                  - deductible
                                categorized_by:
                                  - manual
                                is_multicategory: false
                                has_credit_notes: false
                                has_withholdings: false
                                url_pdf: 'https://example.com/invoice.pdf'
                                xml_raw_url: 'https://example.com/invoice.xml'
                                notes: null
                                voided_at: null
                                voided_origin: null
                                created_at: '2024-01-20T10:17:00.000000Z'
                                updated_at: '2024-01-20T10:17:00.000000Z'
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 54321
                                ulid:
                                  type: string
                                  example: 01HZYYY789DEF012
                                invoice_number:
                                  type: string
                                  example: 001-001-000005678
                                access_key:
                                  type: string
                                  example: '0101202401172605128500110010010000056781234567813'
                                invoiced_at:
                                  type: string
                                  example: '2024-01-20T10:15:00.000000Z'
                                authorization_date:
                                  type: string
                                  example: '2024-01-20T10:16:30.000000Z'
                                date_only:
                                  type: string
                                  example: '2024-01-20'
                                invoice_status:
                                  type: string
                                  example: AUTORIZADO
                                is_physical:
                                  type: boolean
                                  example: false
                                is_sale_note:
                                  type: boolean
                                  example: false
                                is_locked:
                                  type: boolean
                                  example: false
                                lock_reason:
                                  type: string
                                  example: null
                                locked_by_accountant:
                                  type: boolean
                                  example: false
                                origin:
                                  type: string
                                  example: datil
                                document_type:
                                  type: string
                                  example: electronic
                                recipient:
                                  type: object
                                  properties:
                                    tax_number:
                                      type: string
                                      example: '9876543210001'
                                    business_name:
                                      type: string
                                      example: 'CLIENTE DEMO CIA. LTDA.'
                                    email:
                                      type: string
                                      example: cliente@example.com
                                    phone:
                                      type: string
                                      example: '0987654321'
                                    address:
                                      type: string
                                      example: 'Av. Cliente 456'
                                    forced_to_accounting:
                                      type: boolean
                                      example: true
                                payment:
                                  type: object
                                  properties:
                                    payment_method:
                                      type: string
                                      example: '20'
                                    payment_amount:
                                      type: number
                                      example: 224.0
                                totals:
                                  type: object
                                  properties:
                                    subtotal_vat_zero:
                                      type: number
                                      example: 0.0
                                    subtotal_vat_five:
                                      type: number
                                      example: 0.0
                                    subtotal_vat_twelve:
                                      type: number
                                      example: 200.0
                                    subtotal_vat_thirteen:
                                      type: number
                                      example: 0.0
                                    subtotal_vat_fourteen:
                                      type: number
                                      example: 0.0
                                    subtotal_vat_fifteen:
                                      type: number
                                      example: 0.0
                                    subtotal_vat_special:
                                      type: number
                                      example: 0.0
                                    subtotal_vat_exempt:
                                      type: number
                                      example: 0.0
                                    subtotal_vat_not_subject:
                                      type: number
                                      example: 0.0
                                    sub_total:
                                      type: number
                                      example: 200.0
                                    discount:
                                      type: number
                                      example: 0.0
                                    tip:
                                      type: number
                                      example: 0.0
                                    subsidy:
                                      type: number
                                      example: 0.0
                                    total:
                                      type: number
                                      example: 224.0
                                taxes:
                                  type: object
                                  properties:
                                    vat_five:
                                      type: number
                                      example: 0.0
                                    vat_twelve:
                                      type: number
                                      example: 24.0
                                    vat_thirteen:
                                      type: number
                                      example: 0.0
                                    vat_fourteen:
                                      type: number
                                      example: 0.0
                                    vat_fifteen:
                                      type: number
                                      example: 0.0
                                    vat_special:
                                      type: number
                                      example: 0.0
                                    ice:
                                      type: number
                                      example: 0.0
                                    irbpnr:
                                      type: number
                                      example: 0.0
                                    total_tax:
                                      type: number
                                      example: 24.0
                                tax_payer_category_id:
                                  type: integer
                                  example: 78
                                regime:
                                  type: string
                                  example: general
                                deductible_type:
                                  type: string
                                  example: deductible
                                categories:
                                  type: array
                                  example:
                                    - 78
                                  items:
                                    type: integer
                                regimes:
                                  type: array
                                  example:
                                    - general
                                  items:
                                    type: string
                                deductible_types:
                                  type: array
                                  example:
                                    - deductible
                                  items:
                                    type: string
                                categorized_by:
                                  type: array
                                  example:
                                    - manual
                                  items:
                                    type: string
                                is_multicategory:
                                  type: boolean
                                  example: false
                                has_credit_notes:
                                  type: boolean
                                  example: false
                                has_withholdings:
                                  type: boolean
                                  example: false
                                url_pdf:
                                  type: string
                                  example: 'https://example.com/invoice.pdf'
                                xml_raw_url:
                                  type: string
                                  example: 'https://example.com/invoice.xml'
                                notes:
                                  type: string
                                  example: null
                                voided_at:
                                  type: string
                                  example: null
                                voided_origin:
                                  type: string
                                  example: null
                                created_at:
                                  type: string
                                  example: '2024-01-20T10:17:00.000000Z'
                                updated_at:
                                  type: string
                                  example: '2024-01-20T10:17:00.000000Z'
                      meta:
                        type: object
                        properties:
                          pagination:
                            type: object
                            properties:
                              current_page:
                                type: integer
                                example: 1
                              per_page:
                                type: integer
                                example: 20
                              total:
                                type: integer
                                example: 32
                              total_pages:
                                type: integer
                                example: 2
                              from:
                                type: integer
                                example: 1
                              to:
                                type: integer
                                example: 20
                          filters_applied:
                            type: object
                            properties:
                              start_date:
                                type: string
                                example: '2024-01-01'
                              end_date:
                                type: string
                                example: '2024-01-31'
                              regime:
                                type: string
                                example: general
                              deductible_type:
                                type: string
                                example: deductible
                              status:
                                type: string
                                example: AUTORIZADO
                  -
                    description: 'Success - no invoices found'
                    type: object
                    example:
                      status: success
                      message: 'Emitted documents retrieved successfully'
                      data:
                        invoices: []
                      meta:
                        pagination:
                          current_page: 1
                          per_page: 20
                          total: 0
                          total_pages: 0
                          from: 0
                          to: 0
                        filters_applied:
                          start_date: '2024-12-01'
                          end_date: '2024-12-31'
                    properties:
                      status:
                        type: string
                        example: success
                      message:
                        type: string
                        example: 'Emitted documents retrieved successfully'
                      data:
                        type: object
                        properties:
                          invoices:
                            type: array
                            example: []
                      meta:
                        type: object
                        properties:
                          pagination:
                            type: object
                            properties:
                              current_page:
                                type: integer
                                example: 1
                              per_page:
                                type: integer
                                example: 20
                              total:
                                type: integer
                                example: 0
                              total_pages:
                                type: integer
                                example: 0
                              from:
                                type: integer
                                example: 0
                              to:
                                type: integer
                                example: 0
                          filters_applied:
                            type: object
                            properties:
                              start_date:
                                type: string
                                example: '2024-12-01'
                              end_date:
                                type: string
                                example: '2024-12-31'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found'
                  code: NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found'
                  code:
                    type: string
                    example: NOT_FOUND
        422:
          description: 'Invalid filter'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation failed'
                  code: VALIDATION_ERROR
                  errors:
                    start_date:
                      - 'The start date field must be a valid date in YYYY-MM-DD format'
                    per_page:
                      - 'The per page must not be greater than 100'
                    regime:
                      - 'Invalid regime. Must be one of: general, rimpe_entrepreneur, rimpe_popular_business'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation failed'
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  errors:
                    type: object
                    properties:
                      start_date:
                        type: array
                        example:
                          - 'The start date field must be a valid date in YYYY-MM-DD format'
                        items:
                          type: string
                      per_page:
                        type: array
                        example:
                          - 'The per page must not be greater than 100'
                        items:
                          type: string
                      regime:
                        type: array
                        example:
                          - 'Invalid regime. Must be one of: general, rimpe_entrepreneur, rimpe_popular_business'
                        items:
                          type: string
      tags:
        - 'Emitted Documents'
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/emitted/accumulated':
    get:
      summary: 'Get accumulated totals for emitted documents'
      operationId: getAccumulatedTotalsForEmittedDocuments
      description: "Retrieves aggregated totals and statistics for emitted documents (sales invoices) based on the applied filters.\nThis endpoint complements the emitted documents listing endpoint by providing calculated totals.\n\n**IMPORTANT:** This is a GET request. All parameters must be sent as query string parameters in the URL.\nDo NOT send a request body.\n\n**What This Endpoint Returns:**\n\n- **Subtotals by VAT rate**: Detailed breakdown of subtotals for each VAT rate (15%, 14%, 13%, 12%, 5%, 0%, exempt, not subject)\n- **VAT amounts**: Total VAT charged at each rate\n- **Discounts**: Discounts applied at each VAT rate\n- **Header totals**: Simplified totals (subtotal, taxes, total)\n- **Document counts**: Total documents, categorized, uncategorized, voided\n- **Applied filters**: Summary of which filters were used\n\n**⚠️ Understanding `total_sum` vs `total_header`:**\n\nThe response includes TWO total values that may differ slightly:\n\n- **`total_sum`**: Direct sum of the `total` field from each document.\n  - This is the **OFFICIAL** total authorized by SRI for each document.\n  - **Use this for**: Official reports, tax declarations, accounting records.\n  - Example: If 3 invoices have totals of 100.00, 200.00, and 300.00, then `total_sum` = 600.00\n\n- **`total_header`**: Calculated by summing adjusted subtotals + recalculated VAT per document.\n  - VAT is recalculated as: `round((subtotal - discount) * vat_rate, 2)` for each document.\n  - May differ from `total_sum` by a few cents due to rounding differences.\n  - **Use this for**: Internal consistency checks, discount distribution analysis.\n\n**Why the difference?**\nWhen documents are issued, the SRI-authorized VAT may differ slightly from a strict mathematical recalculation\ndue to rounding rules applied by different systems (Datil, manual entry, XML imports, etc.). The `total_sum`\nrespects the original authorized values, while `total_header` applies uniform recalculation logic.\n\n**Recommendation:** For official purposes, always use `total_sum` as it represents the actual authorized totals.\n\n**Use Cases:**\n\n- Display statistics cards in dashboard (like UI)\n- Generate financial reports\n- Validate VAT calculations for sales\n- Monitor categorization progress\n- Calculate revenue and tax collection\n\n**Example URLs:**\n\nGet totals for current month:\n```\nGET /api/v1/taxpayers/1726051285001/emitted/accumulated\n```\n\nGet totals for specific date range:\n```\nGET /api/v1/taxpayers/1726051285001/emitted/accumulated?start_date=2024-01-01&end_date=2024-01-31\n```\n\nGet totals for general regime and authorized status:\n```\nGET /api/v1/taxpayers/1726051285001/emitted/accumulated?regime=general&status=AUTORIZADO\n```\n\n**Filters:**\n\nThis endpoint accepts the **same filters** as the emitted invoices listing endpoint:\n- `start_date`, `end_date`: Date range (defaults to current month)\n- `category_id[]`: Specific category IDs (array)\n- `deductible_type`: Tax deductibility (deductible, non_deductible)\n- `regime`: Tax regime (general, rimpe_entrepreneur, rimpe_popular_business)\n- `status`: Document status (AUTORIZADO, ANULADO)\n- `origin`: Document origin (datil, physical-upload, tws, xml-import)\n\n**Note:** Pagination parameters (page, per_page) and sort are ignored as this endpoint returns a single aggregated result."
      parameters:
        -
          in: query
          name: start_date
          description: 'Start date for filtering (YYYY-MM-DD). Defaults to first day of current month.'
          example: null
          required: false
          schema:
            type: string
            description: 'Start date for filtering (YYYY-MM-DD). Defaults to first day of current month.'
            example: null
        -
          in: query
          name: end_date
          description: 'End date for filtering (YYYY-MM-DD). Defaults to last day of current month.'
          example: null
          required: false
          schema:
            type: string
            description: 'End date for filtering (YYYY-MM-DD). Defaults to last day of current month.'
            example: null
        -
          in: query
          name: 'category_id[]'
          description: 'Filter by category ID(s). Can pass multiple values using array notation. To obtain available category IDs for the taxpayer, use GET /api/v1/taxpayers/{taxNumber}/categories?type=sales.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Filter by category ID(s). Can pass multiple values using array notation. To obtain available category IDs for the taxpayer, use GET /api/v1/taxpayers/{taxNumber}/categories?type=sales.'
            example: null
        -
          in: query
          name: deductible_type
          description: 'Filter by tax deductibility. Must be one of: deductible, non_deductible.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by tax deductibility. Must be one of: deductible, non_deductible.'
            example: null
        -
          in: query
          name: regime
          description: 'Filter by tax regime. Must be one of: general, rimpe_entrepreneur, rimpe_popular_business.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by tax regime. Must be one of: general, rimpe_entrepreneur, rimpe_popular_business.'
            example: null
        -
          in: query
          name: status
          description: 'Filter by document status. Must be one of: AUTORIZADO, ANULADO.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by document status. Must be one of: AUTORIZADO, ANULADO.'
            example: null
        -
          in: query
          name: origin
          description: 'Filter by document origin/source system. Must be one of: datil, physical-upload, tws, xml-import.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by document origin/source system. Must be one of: datil, physical-upload, tws, xml-import.'
            example: null
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Success - Current month totals'
                    type: object
                    example:
                      status: success
                      message: 'Emitted documents accumulated totals retrieved successfully'
                      data:
                        totals:
                          subtotal_vat_fifteen_sum: 200.0
                          discount_vat_fifteen_sum: 0
                          vat_fifteen_sum: 30.0
                          subtotal_vat_fourteen_sum: 0
                          discount_vat_fourteen_sum: 0
                          vat_fourteen_sum: 0
                          subtotal_vat_thirteen_sum: 0
                          discount_vat_thirteen_sum: 0
                          vat_thirteen_sum: 0
                          subtotal_vat_twelve_sum: 150.0
                          discount_vat_twelve_sum: 0
[...]
