openapi: 3.0.3
info:
  title: 'Taxo Impuestos API - Documentación'
  description: 'API RESTful para gestión de contribuyentes, categorías, documentos emitidos, documentos recibidos y reportes tributarios.'
  version: 1.0.0
servers:
  -
    url: 'https://ec-demo.taxo.co'
tags:
  -
    name: Taxpayers
    description: "\nAPI endpoints for managing taxpayers and their related data."
  -
    name: 'IVA Reports'
    description: "\nAPI endpoints for managing IVA (Value Added Tax) reports.\n\nThese endpoints allow you to create, manage, and submit IVA tax reports for your taxpayers.\nEach report goes through a workflow from draft to declared status."
components:
  securitySchemes:
    default:
      type: apiKey
      name: x-api-key
      in: header
      description: 'Puedes obtener tu API key y Organization ID desde tu dashboard de TWS. <br><br>Debes incluir también el header <code>x-organization-id</code> con tu Organization ID.'
security:
  -
    default: []
paths:
  /api/v1/taxpayers:
    get:
      summary: 'List taxpayers'
      operationId: listTaxpayers
      description: "Retrieves a paginated list of all taxpayers belonging to the authenticated organization.\nYou can filter and sort the results using query parameters."
      parameters:
        -
          in: query
          name: page
          description: 'Page number for pagination. El campo value debe ser al menos 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. El campo value debe ser al menos 1.'
            example: 1
            nullable: true
        -
          in: query
          name: per_page
          description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
            example: 20
            nullable: true
        -
          in: query
          name: sort
          description: 'Sort field and direction. Prefix with "-" for descending order.'
          example: '-created_at'
          required: false
          schema:
            type: string
            description: 'Sort field and direction. Prefix with "-" for descending order.'
            example: '-created_at'
            enum:
              - business_name
              - '-business_name'
              - tax_number
              - '-tax_number'
              - next_declaration
              - '-next_declaration'
              - created_at
              - '-created_at'
            nullable: true
        -
          in: query
          name: search
          description: 'Search term to filter by business name or tax number. El campo value no debe ser mayor que 255 caracteres.'
          example: 'Empresa S.A.'
          required: false
          schema:
            type: string
            description: 'Search term to filter by business name or tax number. El campo value no debe ser mayor que 255 caracteres.'
            example: 'Empresa S.A.'
            nullable: true
        -
          in: query
          name: status
          description: 'Filter by status (0=inactive, 1=active).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by status (0=inactive, 1=active).'
            example: 1
            enum:
              - '0'
              - '1'
            nullable: true
        -
          in: query
          name: iva_period
          description: 'Filter by IVA period (MENSUAL, SEMESTRAL).'
          example: MENSUAL
          required: false
          schema:
            type: string
            description: 'Filter by IVA period (MENSUAL, SEMESTRAL).'
            example: MENSUAL
            enum:
              - MENSUAL
              - SEMESTRAL
            nullable: true
        -
          in: query
          name: tax_regime_cat
          description: 'Filter by tax regime category.'
          example: GENERAL
          required: false
          schema:
            type: string
            description: 'Filter by tax regime category.'
            example: GENERAL
            enum:
              - RISE
              - GENERAL
              - ESPECIAL
            nullable: true
        -
          in: query
          name: declaration_day
          description: 'Filter by declaration day (1-28). El campo value debe ser al menos 1. El campo value no debe ser mayor que 28.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Filter by declaration day (1-28). El campo value debe ser al menos 1. El campo value no debe ser mayor que 28.'
            example: 10
            nullable: true
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Taxpayers retrieved successfully'
                  data:
                    taxpayers:
                      -
                        id: 144
                        ulid: 01HZXXX...
                        tax_number: '1726051285001'
                        business_name: 'EMPRESA DEMO S.A.'
                        trade_name: DEMO
                        tax_payer_status: ACTIVE
                        tax_regime: general
                        tax_regime_cat: general
                        iva_period: monthly
                        declaration_day: 12
                        required_to_keep_accounts: SI
                        withholding_agent: SI
                        special_contributor: 'NO'
                        economic_activity: 'Actividades de consultoría de gestión empresarial'
                        start_activities_date: '2020-01-15T00:00:00.000000Z'
                        created_at: '2024-01-15T10:30:00.000000Z'
                        updated_at: '2024-01-15T10:30:00.000000Z'
                  meta:
                    pagination:
                      total: 5
                      count: 5
                      per_page: 20
                      current_page: 1
                      total_pages: 1
                    filters:
                      status: ACTIVE
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Taxpayers retrieved successfully'
                  data:
                    type: object
                    properties:
                      taxpayers:
                        type: array
                        example:
                          -
                            id: 144
                            ulid: 01HZXXX...
                            tax_number: '1726051285001'
                            business_name: 'EMPRESA DEMO S.A.'
                            trade_name: DEMO
                            tax_payer_status: ACTIVE
                            tax_regime: general
                            tax_regime_cat: general
                            iva_period: monthly
                            declaration_day: 12
                            required_to_keep_accounts: SI
                            withholding_agent: SI
                            special_contributor: 'NO'
                            economic_activity: 'Actividades de consultoría de gestión empresarial'
                            start_activities_date: '2020-01-15T00:00:00.000000Z'
                            created_at: '2024-01-15T10:30:00.000000Z'
                            updated_at: '2024-01-15T10:30:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 144
                            ulid:
                              type: string
                              example: 01HZXXX...
                            tax_number:
                              type: string
                              example: '1726051285001'
                            business_name:
                              type: string
                              example: 'EMPRESA DEMO S.A.'
                            trade_name:
                              type: string
                              example: DEMO
                            tax_payer_status:
                              type: string
                              example: ACTIVE
                            tax_regime:
                              type: string
                              example: general
                            tax_regime_cat:
                              type: string
                              example: general
                            iva_period:
                              type: string
                              example: monthly
                            declaration_day:
                              type: integer
                              example: 12
                            required_to_keep_accounts:
                              type: string
                              example: SI
                            withholding_agent:
                              type: string
                              example: SI
                            special_contributor:
                              type: string
                              example: 'NO'
                            economic_activity:
                              type: string
                              example: 'Actividades de consultoría de gestión empresarial'
                            start_activities_date:
                              type: string
                              example: '2020-01-15T00:00:00.000000Z'
                            created_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                            updated_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 5
                          count:
                            type: integer
                            example: 5
                          per_page:
                            type: integer
                            example: 20
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                      filters:
                        type: object
                        properties:
                          status:
                            type: string
                            example: ACTIVE
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        500:
          description: 'Server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'An error occurred while retrieving taxpayers'
                  code: SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'An error occurred while retrieving taxpayers'
                  code:
                    type: string
                    example: SERVER_ERROR
      tags:
        - Taxpayers
    post:
      summary: 'Create a new taxpayer'
      operationId: createANewTaxpayer
      description: "Creates a new taxpayer in your organization after validating that the tax identifier exists\nin the TWS (Tax Web Services) registry. Accepts RUC (13 digits), Cédula (10 digits), or Passport.\n\nThis endpoint will:\n1. Validate the taxpayer doesn't already exist in your organization\n2. Query the TWS registry API to verify the identifier is valid and active\n3. Create the taxpayer with all available data from TWS\n4. Automatically create default categories for document classification\n5. Set up auto-categorization rules\n\n**Note:** This process may take 5-10 seconds as it queries external services."
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        201:
          description: 'Taxpayer created successfully'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Taxpayer created successfully'
                  data:
                    taxpayer:
                      id: 01JDXYZ123ABC456DEF789GHI
                      tax_number: '1726051285001'
                      business_name: 'AGUIRRE MEJIA AIDA ISABEL'
                      legal_name: 'AGUIRRE MEJIA AIDA ISABEL'
                      email: null
                      phone: null
                      status: 1
                      tax_payer_status: ACTIVO
                      economic_activity: 'VENTA AL POR MAYOR DE FRUTAS'
                      tax_regime: GENERAL
                      tax_regime_cat: general
                      iva_period: monthly
                      category: null
                      required_to_keep_accounts: 'NO'
                      withholding_agent: 'NO'
                      special_contributor: 'NO'
                      declaration_day: 12
                      next_declaration: null
                      start_activities_date: '2018-09-04'
                      last_sync_at: null
                      created_at: '2024-12-02 15:30:45'
                      updated_at: '2024-12-02 15:30:45'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Taxpayer created successfully'
                  data:
                    type: object
                    properties:
                      taxpayer:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01JDXYZ123ABC456DEF789GHI
                          tax_number:
                            type: string
                            example: '1726051285001'
                          business_name:
                            type: string
                            example: 'AGUIRRE MEJIA AIDA ISABEL'
                          legal_name:
                            type: string
                            example: 'AGUIRRE MEJIA AIDA ISABEL'
                          email:
                            type: string
                            example: null
                          phone:
                            type: string
                            example: null
                          status:
                            type: integer
                            example: 1
                          tax_payer_status:
                            type: string
                            example: ACTIVO
                          economic_activity:
                            type: string
                            example: 'VENTA AL POR MAYOR DE FRUTAS'
                          tax_regime:
                            type: string
                            example: GENERAL
                          tax_regime_cat:
                            type: string
                            example: general
                          iva_period:
                            type: string
                            example: monthly
                          category:
                            type: string
                            example: null
                          required_to_keep_accounts:
                            type: string
                            example: 'NO'
                          withholding_agent:
                            type: string
                            example: 'NO'
                          special_contributor:
                            type: string
                            example: 'NO'
                          declaration_day:
                            type: integer
                            example: 12
                          next_declaration:
                            type: string
                            example: null
                          start_activities_date:
                            type: string
                            example: '2018-09-04'
                          last_sync_at:
                            type: string
                            example: null
                          created_at:
                            type: string
                            example: '2024-12-02 15:30:45'
                          updated_at:
                            type: string
                            example: '2024-12-02 15:30:45'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found in TWS'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found in TWS. Please verify the taxpayer ID'
                  code: TAXPAYER_NOT_FOUND_IN_TWS
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found in TWS. Please verify the taxpayer ID'
                  code:
                    type: string
                    example: TAXPAYER_NOT_FOUND_IN_TWS
        409:
          description: 'Taxpayer already exists'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer already exists for this organization'
                  code: TAXPAYER_ALREADY_EXISTS
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer already exists for this organization'
                  code:
                    type: string
                    example: TAXPAYER_ALREADY_EXISTS
        422:
          description: 'Validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation failed'
                  code: VALIDATION_ERROR
                  errors:
                    taxpayerId:
                      - 'The taxpayer ID can only contain letters, numbers, and hyphens'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation failed'
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  errors:
                    type: object
                    properties:
                      taxpayerId:
                        type: array
                        example:
                          - 'The taxpayer ID can only contain letters, numbers, and hyphens'
                        items:
                          type: string
        500:
          description: 'Internal server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Failed to create taxpayer due to an internal error'
                  code: INTERNAL_SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Failed to create taxpayer due to an internal error'
                  code:
                    type: string
                    example: INTERNAL_SERVER_ERROR
        503:
          description: 'TWS service unavailable'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Unable to verify taxpayer with TWS app'
                  code: TWS_SERVICE_UNAVAILABLE
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Unable to verify taxpayer with TWS app'
                  code:
                    type: string
                    example: TWS_SERVICE_UNAVAILABLE
        504:
          description: 'TWS service timeout'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'TWS service timeout. Please try again later'
                  code: TWS_SERVICE_TIMEOUT
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'TWS service timeout. Please try again later'
                  code:
                    type: string
                    example: TWS_SERVICE_TIMEOUT
      tags:
        - Taxpayers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                taxpayerId:
                  type: string
                  description: 'Ecuadorian tax identifier. Can be: RUC (13 digits), Cédula (10 digits), or Passport (alphanumeric). Must match the regex /^[a-zA-Z0-9\-]+$/. El campo value debe ser de al menos 5 caracteres. El campo value no debe ser mayor que 20 caracteres.'
                  example: '1726051285001'
              required:
                - taxpayerId
  '/api/v1/taxpayers/{taxNumber}':
    get:
      summary: 'Get a specific taxpayer'
      operationId: getASpecificTaxpayer
      description: "Retrieves detailed information for a specific taxpayer identified by their RUC number.\nThe taxpayer must belong to the authenticated organization."
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Taxpayer retrieved successfully'
                  data:
                    taxpayer:
                      id: 144
                      ulid: 01HZXXX...
                      tax_number: '1726051285001'
                      business_name: 'EMPRESA DEMO S.A.'
                      trade_name: DEMO
                      address: 'Av. Principal 123 y Secundaria'
                      phone: '0987654321'
                      email: contacto@demo.com
                      legal_representatives: 'Juan Pérez, María González'
                      economic_activity: 'Actividades de consultoría de gestión empresarial'
                      tax_payer_status: ACTIVE
                      tax_payer_type: 'PERSONA JURÍDICA'
                      tax_regime: general
                      tax_regime_cat: general
                      category: null
                      iva_period: monthly
                      declaration_day: 12
                      required_to_keep_accounts: SI
                      withholding_agent: SI
                      special_contributor: 'NO'
                      ghost_taxpayer: 'NO'
                      nonexistent_transactions: 'NO'
                      start_activities_date: '2020-01-15T00:00:00.000000Z'
                      cessation_date: null
                      restart_activities_date: null
                      information_update_date: '2024-01-15T00:00:00.000000Z'
                      created_at: '2024-01-15T10:30:00.000000Z'
                      updated_at: '2024-01-15T10:30:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Taxpayer retrieved successfully'
                  data:
                    type: object
                    properties:
                      taxpayer:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 144
                          ulid:
                            type: string
                            example: 01HZXXX...
                          tax_number:
                            type: string
                            example: '1726051285001'
                          business_name:
                            type: string
                            example: 'EMPRESA DEMO S.A.'
                          trade_name:
                            type: string
                            example: DEMO
                          address:
                            type: string
                            example: 'Av. Principal 123 y Secundaria'
                          phone:
                            type: string
                            example: '0987654321'
                          email:
                            type: string
                            example: contacto@demo.com
                          legal_representatives:
                            type: string
                            example: 'Juan Pérez, María González'
                          economic_activity:
                            type: string
                            example: 'Actividades de consultoría de gestión empresarial'
                          tax_payer_status:
                            type: string
                            example: ACTIVE
                          tax_payer_type:
                            type: string
                            example: 'PERSONA JURÍDICA'
                          tax_regime:
                            type: string
                            example: general
                          tax_regime_cat:
                            type: string
                            example: general
                          category:
                            type: string
                            example: null
                          iva_period:
                            type: string
                            example: monthly
                          declaration_day:
                            type: integer
                            example: 12
                          required_to_keep_accounts:
                            type: string
                            example: SI
                          withholding_agent:
                            type: string
                            example: SI
                          special_contributor:
                            type: string
                            example: 'NO'
                          ghost_taxpayer:
                            type: string
                            example: 'NO'
                          nonexistent_transactions:
                            type: string
                            example: 'NO'
                          start_activities_date:
                            type: string
                            example: '2020-01-15T00:00:00.000000Z'
                          cessation_date:
                            type: string
                            example: null
                          restart_activities_date:
                            type: string
                            example: null
                          information_update_date:
                            type: string
                            example: '2024-01-15T00:00:00.000000Z'
                          created_at:
                            type: string
                            example: '2024-01-15T10:30:00.000000Z'
                          updated_at:
                            type: string
                            example: '2024-01-15T10:30:00.000000Z'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found'
                  code: TAXPAYER_NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found'
                  code:
                    type: string
                    example: TAXPAYER_NOT_FOUND
        500:
          description: 'Server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'An error occurred while retrieving the taxpayer'
                  code: SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'An error occurred while retrieving the taxpayer'
                  code:
                    type: string
                    example: SERVER_ERROR
      tags:
        - Taxpayers
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/categories':
    get:
      summary: 'Get taxpayer categories'
      operationId: getTaxpayerCategories
      description: "Retrieves a paginated list of categories for a specific taxpayer.\nCategories are used to classify purchase and sales documents."
      parameters:
        -
          in: query
          name: page
          description: 'Page number for pagination. El campo value debe ser al menos 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. El campo value debe ser al menos 1.'
            example: 1
            nullable: true
        -
          in: query
          name: per_page
          description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page (max 100). El campo value debe ser al menos 1. El campo value no debe ser mayor que 100.'
            example: 20
            nullable: true
        -
          in: query
          name: document_type
          description: 'Filter by document type (purchases or sales).'
          example: sales
          required: false
          schema:
            type: string
            description: 'Filter by document type (purchases or sales).'
            example: sales
            enum:
              - purchases
              - sales
            nullable: true
        -
          in: query
          name: category_type
          description: 'Filter by category type (personal_expenses, commercial_expenses, non_deductible_expenses, sales).'
          example: commercial_expenses
          required: false
          schema:
            type: string
            description: 'Filter by category type (personal_expenses, commercial_expenses, non_deductible_expenses, sales).'
            example: commercial_expenses
            enum:
              - personal_expenses
              - commercial_expenses
              - non_deductible_expenses
              - sales
            nullable: true
        -
          in: query
          name: enabled
          description: 'Filter by enabled status (1 or 0).'
          example: 1
          required: false
          schema:
            type: string
            description: 'Filter by enabled status (1 or 0).'
            example: 1
            nullable: true
        -
          in: query
          name: editable
          description: 'Filter by editable status (1 or 0).'
          example: 1
          required: false
          schema:
            type: string
            description: 'Filter by editable status (1 or 0).'
            example: 1
            nullable: true
        -
          in: query
          name: search
          description: 'Search term to filter by name, code, or description. El campo value no debe ser mayor que 255 caracteres.'
          example: Alimentación
          required: false
          schema:
            type: string
            description: 'Search term to filter by name, code, or description. El campo value no debe ser mayor que 255 caracteres.'
            example: Alimentación
            nullable: true
        -
          in: query
          name: filter
          description: ''
          example: null
          required: false
          schema:
            type: object
            description: ''
            example: null
            properties: {  }
            nullable: true
        -
          in: query
          name: filter.document_type
          description: ''
          example: purchases
          required: false
          schema:
            type: string
            description: ''
            example: purchases
            enum:
              - purchases
              - sales
            nullable: true
        -
          in: query
          name: filter.category_type
          description: ''
          example: non_deductible_expenses
          required: false
          schema:
            type: string
            description: ''
            example: non_deductible_expenses
            enum:
              - personal_expenses
              - commercial_expenses
              - non_deductible_expenses
              - sales
            nullable: true
        -
          in: query
          name: filter.enabled
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: true
        -
          in: query
          name: filter.editable
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: true
        -
          in: query
          name: filter.search
          description: 'El campo value no debe ser mayor que 255 caracteres.'
          example: vmqeopfuudtdsufvyvddq
          required: false
          schema:
            type: string
            description: 'El campo value no debe ser mayor que 255 caracteres.'
            example: vmqeopfuudtdsufvyvddq
            nullable: true
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Categories retrieved successfully'
                  data:
                    categories:
                      -
                        id: 9857
                        name: Alimentación
                        code: D-001
                        description: null
                        icon: 'M20 10a5.27...'
                        color: bg-teal-500
                        document_type: purchases
                        category_type: personal_expenses
                        editable: false
                        has_been_edited: false
                        enabled: true
                        created_at: '2024-01-15T10:30:00.000000Z'
                        updated_at: '2024-01-15T10:30:00.000000Z'
                        archived_at: null
                  meta:
                    pagination:
                      total: 30
                      count: 20
                      per_page: 20
                      current_page: 1
                      total_pages: 2
                    filters:
                      document_type: purchases
                      enabled: true
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Categories retrieved successfully'
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        example:
                          -
                            id: 9857
                            name: Alimentación
                            code: D-001
                            description: null
                            icon: 'M20 10a5.27...'
                            color: bg-teal-500
                            document_type: purchases
                            category_type: personal_expenses
                            editable: false
                            has_been_edited: false
                            enabled: true
                            created_at: '2024-01-15T10:30:00.000000Z'
                            updated_at: '2024-01-15T10:30:00.000000Z'
                            archived_at: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 9857
                            name:
                              type: string
                              example: Alimentación
                            code:
                              type: string
                              example: D-001
                            description:
                              type: string
                              example: null
                            icon:
                              type: string
                              example: 'M20 10a5.27...'
                            color:
                              type: string
                              example: bg-teal-500
                            document_type:
                              type: string
                              example: purchases
                            category_type:
                              type: string
                              example: personal_expenses
                            editable:
                              type: boolean
                              example: false
                            has_been_edited:
                              type: boolean
                              example: false
                            enabled:
                              type: boolean
                              example: true
                            created_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                            updated_at:
                              type: string
                              example: '2024-01-15T10:30:00.000000Z'
                            archived_at:
                              type: string
                              example: null
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 30
                          count:
                            type: integer
                            example: 20
                          per_page:
                            type: integer
                            example: 20
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 2
                      filters:
                        type: object
                        properties:
                          document_type:
                            type: string
                            example: purchases
                          enabled:
                            type: boolean
                            example: true
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found or access denied'
                  code: TAXPAYER_NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found or access denied'
                  code:
                    type: string
                    example: TAXPAYER_NOT_FOUND
        500:
          description: 'Server error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Failed to retrieve categories. Please try again later.'
                  code: SERVER_ERROR
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Failed to retrieve categories. Please try again later.'
                  code:
                    type: string
                    example: SERVER_ERROR
      tags:
        - Taxpayers
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/iva-reports':
    get:
      summary: 'List IVA reports for a taxpayer'
      operationId: listIVAReportsForATaxpayer
      description: "Retrieves a paginated list of IVA reports for a specific taxpayer.\n\n**IMPORTANT:** This is a GET request. All parameters must be sent as query string parameters in the URL.\nDo NOT send a request body.\n\n**Example URL:**\n```\nGET /api/v1/taxpayers/1726051285001/iva-reports?page=1&per_page=20&status=saved&sort=-period\n```\n\n**Available filters (all optional, sent as query params in URL):**\n- `page`: Page number for pagination (default: 1)\n- `per_page`: Items per page, 1-100 (default: 20)\n- `status`: Filter by report status\n- `periodicity`: Filter by periodicity (monthly, biannual)\n- `year`: Filter by year\n- `sort`: Sort field. Prefix with `-` for descending (e.g., `-period`, `status`)\n\n**Available statuses:**\n- `draft`: Initial state, being edited\n- `edited`: Has manual edits\n- `saved`: Ready for review\n- `sent`: Sent to taxpayer for approval\n- `approved`: Approved and ready for SRI submission\n- `rejected`: Rejected, needs corrections\n- `sri_sended`: Sent to SRI (in progress)\n- `sri_sended_completed`: SRI processing completed\n- `declared`: Marked as declared\n- `error`: Error during SRI submission"
      parameters:
        -
          in: query
          name: page
          description: 'Page number for pagination.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Page number for pagination.'
            example: null
        -
          in: query
          name: per_page
          description: 'Items per page (1-100).'
          example: null
          required: false
          schema:
            type: integer
            description: 'Items per page (1-100).'
            example: null
        -
          in: query
          name: status
          description: 'Filter by report status.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by report status.'
            example: null
        -
          in: query
          name: periodicity
          description: 'Filter by periodicity (monthly, biannual).'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by periodicity (monthly, biannual).'
            example: null
        -
          in: query
          name: year
          description: 'Filter by year.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Filter by year.'
            example: null
        -
          in: query
          name: sort
          description: 'Sort field. Prefix with - for descending.'
          example: null
          required: false
          schema:
            type: string
            description: 'Sort field. Prefix with - for descending.'
            example: null
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Reports retrieved successfully'
                  data:
                    reports:
                      -
                        id: 01HZXXX123ABC456
                        tax_payer_id: 123
                        period: '2024-03-15'
                        periodicity: monthly
                        status: saved
                        status_label: Guardado
                        total_sales_raw_value: 15000.0
                        total_taxes_to_pay_iva: 1200.5
                        created_at: '2024-03-01T09:00:00.000000Z'
                        updated_at: '2024-03-05T14:30:00.000000Z'
                      -
                        id: 01HZXXX123ABC789
                        tax_payer_id: 123
                        period: '2024-02-15'
                        periodicity: monthly
                        status: declared
                        status_label: Declarado
                        total_sales_raw_value: 12500.0
                        total_taxes_to_pay_iva: 980.0
                        created_at: '2024-02-01T10:15:00.000000Z'
                        updated_at: '2024-02-20T16:45:00.000000Z'
                  meta:
                    pagination:
                      current_page: 1
                      per_page: 20
                      total: 24
                      total_pages: 2
                      from: 1
                      to: 20
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Reports retrieved successfully'
                  data:
                    type: object
                    properties:
                      reports:
                        type: array
                        example:
                          -
                            id: 01HZXXX123ABC456
                            tax_payer_id: 123
                            period: '2024-03-15'
                            periodicity: monthly
                            status: saved
                            status_label: Guardado
                            total_sales_raw_value: 15000
                            total_taxes_to_pay_iva: 1200.5
                            created_at: '2024-03-01T09:00:00.000000Z'
                            updated_at: '2024-03-05T14:30:00.000000Z'
                          -
                            id: 01HZXXX123ABC789
                            tax_payer_id: 123
                            period: '2024-02-15'
                            periodicity: monthly
                            status: declared
                            status_label: Declarado
                            total_sales_raw_value: 12500
                            total_taxes_to_pay_iva: 980
                            created_at: '2024-02-01T10:15:00.000000Z'
                            updated_at: '2024-02-20T16:45:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 01HZXXX123ABC456
                            tax_payer_id:
                              type: integer
                              example: 123
                            period:
                              type: string
                              example: '2024-03-15'
                            periodicity:
                              type: string
                              example: monthly
                            status:
                              type: string
                              example: saved
                            status_label:
                              type: string
                              example: Guardado
                            total_sales_raw_value:
                              type: number
                              example: 15000.0
                            total_taxes_to_pay_iva:
                              type: number
                              example: 1200.5
                            created_at:
                              type: string
                              example: '2024-03-01T09:00:00.000000Z'
                            updated_at:
                              type: string
                              example: '2024-03-05T14:30:00.000000Z'
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          current_page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 20
                          total:
                            type: integer
                            example: 24
                          total_pages:
                            type: integer
                            example: 2
                          from:
                            type: integer
                            example: 1
                          to:
                            type: integer
                            example: 20
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Invalid API key or organization ID'
                  code: UNAUTHORIZED
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Invalid API key or organization ID'
                  code:
                    type: string
                    example: UNAUTHORIZED
        404:
          description: 'Taxpayer not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found'
                  code: NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found'
                  code:
                    type: string
                    example: NOT_FOUND
        422:
          description: 'Invalid filter'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation failed'
                  code: VALIDATION_ERROR
                  errors:
                    status:
                      - 'Invalid status value'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation failed'
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  errors:
                    type: object
                    properties:
                      status:
                        type: array
                        example:
                          - 'Invalid status value'
                        items:
                          type: string
      tags:
        - 'IVA Reports'
    post:
      summary: 'Create a new IVA report'
      operationId: createANewIVAReport
      description: "Creates a new IVA report for the specified period if it doesn't already exist.\nThe report is created in DRAFT status with all values calculated automatically from:\n- Sales invoices and credit notes\n- Purchase bills and credit notes\n- Withholding documents\n\n**Important notes:**\n- If a report already exists for the period, it returns the existing one (idempotent)\n- The period is converted to a full date based on taxpayer's periodicity\n- Monthly taxpayers: YYYY-MM → YYYY-MM-15\n- Biannual taxpayers: Only YYYY-06 or YYYY-12 allowed\n- This process may take 3-5 seconds as it calculates from all documents\n\n**Workflow:**\n1. Validates period format\n2. Checks if report already exists\n3. Queries all documents for the period\n4. Calculates sales, purchases, and tax totals\n5. Creates report in DRAFT status\n6. Records initial status in history"
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: 'Report already exists'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Report already exists for this period'
                  data:
                    report:
                      id: 01HZXXX123ABC456
                      tax_payer_id: 123
                      period: '2024-03-15'
                      periodicity: monthly
                      status: saved
                      status_label: Guardado
                      total_taxes_to_pay_iva: 1200.0
                      created_at: '2024-03-01T09:00:00.000000Z'
                      updated_at: '2024-03-05T14:30:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Report already exists for this period'
                  data:
                    type: object
                    properties:
                      report:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01HZXXX123ABC456
                          tax_payer_id:
                            type: integer
                            example: 123
                          period:
                            type: string
                            example: '2024-03-15'
                          periodicity:
                            type: string
                            example: monthly
                          status:
                            type: string
                            example: saved
                          status_label:
                            type: string
                            example: Guardado
                          total_taxes_to_pay_iva:
                            type: number
                            example: 1200.0
                          created_at:
                            type: string
                            example: '2024-03-01T09:00:00.000000Z'
                          updated_at:
                            type: string
                            example: '2024-03-05T14:30:00.000000Z'
        201:
          description: 'Report created successfully'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Report created successfully'
                  data:
                    report:
                      id: 01HZXXX123ABC456
                      tax_payer_id: 123
                      period: '2024-03-15'
                      periodicity: monthly
                      status: draft
                      status_label: Borrador
                      local_sales_different_0_rate_raw_value: 10000.0
                      local_sales_different_0_rate_iva: 1200.0
                      total_sales_raw_value: 15000.0
                      total_sales_iva: 1800.0
                      purchases_different_0_rate_with_right_iva: 600.0
                      total_taxes_to_pay_iva: 1200.0
                      total_invoices_issued: 45
                      created_at: '2024-03-01T09:00:00.000000Z'
                      updated_at: '2024-03-01T09:00:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Report created successfully'
                  data:
                    type: object
                    properties:
                      report:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01HZXXX123ABC456
                          tax_payer_id:
                            type: integer
                            example: 123
                          period:
                            type: string
                            example: '2024-03-15'
                          periodicity:
                            type: string
                            example: monthly
                          status:
                            type: string
                            example: draft
                          status_label:
                            type: string
                            example: Borrador
                          local_sales_different_0_rate_raw_value:
                            type: number
                            example: 10000.0
                          local_sales_different_0_rate_iva:
                            type: number
                            example: 1200.0
                          total_sales_raw_value:
                            type: number
                            example: 15000.0
                          total_sales_iva:
                            type: number
                            example: 1800.0
                          purchases_different_0_rate_with_right_iva:
                            type: number
                            example: 600.0
                          total_taxes_to_pay_iva:
                            type: number
                            example: 1200.0
                          total_invoices_issued:
                            type: integer
                            example: 45
                          created_at:
                            type: string
                            example: '2024-03-01T09:00:00.000000Z'
                          updated_at:
                            type: string
                            example: '2024-03-01T09:00:00.000000Z'
        404:
          description: 'Taxpayer not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Taxpayer not found'
                  code: NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Taxpayer not found'
                  code:
                    type: string
                    example: NOT_FOUND
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Invalid period format'
                    type: object
                    example:
                      status: error
                      message: 'Validation failed'
                      code: VALIDATION_ERROR
                      errors:
                        period:
                          - 'Period must be in YYYY-MM format (e.g., 2024-03)'
                    properties:
                      status:
                        type: string
                        example: error
                      message:
                        type: string
                        example: 'Validation failed'
                      code:
                        type: string
                        example: VALIDATION_ERROR
                      errors:
                        type: object
                        properties:
                          period:
                            type: array
                            example:
                              - 'Period must be in YYYY-MM format (e.g., 2024-03)'
                            items:
                              type: string
                  -
                    description: 'Invalid period for biannual'
                    type: object
                    example:
                      status: error
                      message: 'Validation failed'
                      code: VALIDATION_ERROR
                      errors:
                        period:
                          - 'For biannual periodicity, period must be YYYY-06 or YYYY-12'
                    properties:
                      status:
                        type: string
                        example: error
                      message:
                        type: string
                        example: 'Validation failed'
                      code:
                        type: string
                        example: VALIDATION_ERROR
                      errors:
                        type: object
                        properties:
                          period:
                            type: array
                            example:
                              - 'For biannual periodicity, period must be YYYY-06 or YYYY-12'
                            items:
                              type: string
      tags:
        - 'IVA Reports'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
                  description: 'Period in YYYY-MM format.'
                  example: 2024-03
              required:
                - period
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/iva-reports/{period}':
    get:
      summary: 'Get a specific IVA report'
      operationId: getASpecificIVAReport
      description: "Retrieves detailed information for a specific IVA report identified by period.\nReturns all calculated fields including sales, purchases, tax credits, and final tax amount.\n\n**IMPORTANT:** This is a GET request. Do NOT send a request body.\n\n**Example URL:**\n```\nGET /api/v1/taxpayers/1726051285001/iva-reports/2024-03\n```\n\n**Period Format:**\nThe period parameter uses YYYY-MM format and is automatically converted to the full date\nbased on the taxpayer's periodicity:\n- **Monthly**: `2024-03` becomes `2024-03-15`\n- **Biannual**: `2024-06` becomes `2024-06-15` (first semester) or `2024-12` becomes `2024-12-15` (second semester)"
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Report retrieved successfully'
                  data:
                    report:
                      id: 01HZXXX123ABC456
                      tax_payer_id: 123
                      period: '2024-03-15'
                      periodicity: monthly
                      status: saved
                      status_label: Guardado
                      public_link: 'https://app.taxo.ec/public/reports/abc123'
                      comments: null
                      report_comments: 'Reporte revisado'
                      vat_declaration_pdf: null
                      vat_payment_receipt_pdf: null
                      local_sales_different_0_rate_raw_value: 10000.0
                      local_sales_different_0_rate_iva: 1200.0
                      total_sales_raw_value: 15000.0
                      total_sales_iva: 1800.0
                      purchases_different_0_rate_with_right_raw_value: 5000.0
                      purchases_different_0_rate_with_right_iva: 600.0
                      total_acquisitions_and_payments_raw_value: 6500.0
                      total_acquisitions_and_payments_iva: 780.0
                      purchases_tax_credit_applicable_period_iva: 780.0
                      tax_caused_iva: 1800.0
                      total_tax_credit_period_iva: 780.0
                      subtotal_to_pay_iva: 1020.0
                      total_taxes_to_pay_iva: 1020.0
                      total_invoices_issued: 45
                      total_invoices_canceled: 2
                      documents_generated_period: 128
                      created_at: '2024-03-01T09:00:00.000000Z'
                      updated_at: '2024-03-05T14:30:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Report retrieved successfully'
                  data:
                    type: object
                    properties:
                      report:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01HZXXX123ABC456
                          tax_payer_id:
                            type: integer
                            example: 123
                          period:
                            type: string
                            example: '2024-03-15'
                          periodicity:
                            type: string
                            example: monthly
                          status:
                            type: string
                            example: saved
                          status_label:
                            type: string
                            example: Guardado
                          public_link:
                            type: string
                            example: 'https://app.taxo.ec/public/reports/abc123'
                          comments:
                            type: string
                            example: null
                          report_comments:
                            type: string
                            example: 'Reporte revisado'
                          vat_declaration_pdf:
                            type: string
                            example: null
                          vat_payment_receipt_pdf:
                            type: string
                            example: null
                          local_sales_different_0_rate_raw_value:
                            type: number
                            example: 10000.0
                          local_sales_different_0_rate_iva:
                            type: number
                            example: 1200.0
                          total_sales_raw_value:
                            type: number
                            example: 15000.0
                          total_sales_iva:
                            type: number
                            example: 1800.0
                          purchases_different_0_rate_with_right_raw_value:
                            type: number
                            example: 5000.0
                          purchases_different_0_rate_with_right_iva:
                            type: number
                            example: 600.0
                          total_acquisitions_and_payments_raw_value:
                            type: number
                            example: 6500.0
                          total_acquisitions_and_payments_iva:
                            type: number
                            example: 780.0
                          purchases_tax_credit_applicable_period_iva:
                            type: number
                            example: 780.0
                          tax_caused_iva:
                            type: number
                            example: 1800.0
                          total_tax_credit_period_iva:
                            type: number
                            example: 780.0
                          subtotal_to_pay_iva:
                            type: number
                            example: 1020.0
                          total_taxes_to_pay_iva:
                            type: number
                            example: 1020.0
                          total_invoices_issued:
                            type: integer
                            example: 45
                          total_invoices_canceled:
                            type: integer
                            example: 2
                          documents_generated_period:
                            type: integer
                            example: 128
                          created_at:
                            type: string
                            example: '2024-03-01T09:00:00.000000Z'
                          updated_at:
                            type: string
                            example: '2024-03-05T14:30:00.000000Z'
        404:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Report not found'
                    type: object
                    example:
                      status: error
                      message: 'Report not found for period 2024-03'
                      code: NOT_FOUND
                    properties:
                      status:
                        type: string
                        example: error
                      message:
                        type: string
                        example: 'Report not found for period 2024-03'
                      code:
                        type: string
                        example: NOT_FOUND
                  -
                    description: 'Taxpayer not found'
                    type: object
                    example:
                      status: error
                      message: 'Taxpayer not found'
                      code: NOT_FOUND
                    properties:
                      status:
                        type: string
                        example: error
                      message:
                        type: string
                        example: 'Taxpayer not found'
                      code:
                        type: string
                        example: NOT_FOUND
        422:
          description: 'Invalid period format'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation failed'
                  code: VALIDATION_ERROR
                  errors:
                    period:
                      - 'Invalid period format. Expected YYYY-MM (e.g., 2024-03)'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation failed'
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  errors:
                    type: object
                    properties:
                      period:
                        type: array
                        example:
                          - 'Invalid period format. Expected YYYY-MM (e.g., 2024-03)'
                        items:
                          type: string
      tags:
        - 'IVA Reports'
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
      -
        in: path
        name: period
        description: 'Period in YYYY-MM format.'
        example: 2024-03
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/iva-reports/recalculate':
    post:
      summary: 'Recalculate IVA report (Update Report)'
      operationId: recalculateIVAReportUpdateReport
      description: "Resets the report to DRAFT status and recalculates all values from current documents.\nThis is the API equivalent of the \"Actualizar reporte\" button in the UI.\n\n**Use cases:**\n- New invoices/bills were added after creating the report\n- Documents were corrected or updated\n- Need to refresh calculations with latest data\n- Reset report from any state back to draft\n\n**What this endpoint does:**\n1. Validates the report exists for the period\n2. Clears uploaded PDF files (vat_declaration_pdf, vat_payment_receipt_pdf)\n3. Transitions report status to DRAFT (allowed from any state)\n4. Queries all documents for the period again\n5. Recalculates all sales, purchases, and tax totals\n6. Records the status change in history\n\n**Warning:** This action will overwrite any manual edits made to the report."
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: 'Successfully recalculated'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Report recalculated successfully'
                  data:
                    report:
                      id: 01HZXXX123ABC456
                      tax_payer_id: 123
                      period: '2024-03-15'
                      periodicity: monthly
                      status: draft
                      status_label: Borrador
                      vat_declaration_pdf: null
                      vat_payment_receipt_pdf: null
                      total_sales_raw_value: 16500.0
                      total_sales_iva: 1980.0
                      total_taxes_to_pay_iva: 1350.75
                      total_invoices_issued: 52
                      updated_at: '2024-03-10T15:45:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Report recalculated successfully'
                  data:
                    type: object
                    properties:
                      report:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01HZXXX123ABC456
                          tax_payer_id:
                            type: integer
                            example: 123
                          period:
                            type: string
                            example: '2024-03-15'
                          periodicity:
                            type: string
                            example: monthly
                          status:
                            type: string
                            example: draft
                          status_label:
                            type: string
                            example: Borrador
                          vat_declaration_pdf:
                            type: string
                            example: null
                          vat_payment_receipt_pdf:
                            type: string
                            example: null
                          total_sales_raw_value:
                            type: number
                            example: 16500.0
                          total_sales_iva:
                            type: number
                            example: 1980.0
                          total_taxes_to_pay_iva:
                            type: number
                            example: 1350.75
                          total_invoices_issued:
                            type: integer
                            example: 52
                          updated_at:
                            type: string
                            example: '2024-03-10T15:45:00.000000Z'
        400:
          description: 'Invalid transition (should not happen)'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Cannot transition from sri_sended to draft'
                  code: INVALID_TRANSITION
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Cannot transition from sri_sended to draft'
                  code:
                    type: string
                    example: INVALID_TRANSITION
        404:
          description: 'Report not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Report not found for period 2024-03'
                  code: NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Report not found for period 2024-03'
                  code:
                    type: string
                    example: NOT_FOUND
        422:
          description: 'Invalid period format'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation failed'
                  code: VALIDATION_ERROR
                  errors:
                    period:
                      - 'Period must be in YYYY-MM format (e.g., 2024-03)'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation failed'
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  errors:
                    type: object
                    properties:
                      period:
                        type: array
                        example:
                          - 'Period must be in YYYY-MM format (e.g., 2024-03)'
                        items:
                          type: string
      tags:
        - 'IVA Reports'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
                  description: 'Period in YYYY-MM format.'
                  example: 2024-03
              required:
                - period
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/iva-reports/save':
    patch:
      summary: 'Save IVA report'
      operationId: saveIVAReport
      description: "Saves the report by changing its status from DRAFT/EDITED to SAVED.\nA saved report is locked from further edits and ready for approval workflow.\nOptionally adds comments to document any observations or notes.\n\n**When to use:**\n- After reviewing calculated values in draft\n- Before sending to taxpayer for approval\n- When report data is final and correct\n\n**Valid transitions:**\n- DRAFT → SAVED\n- EDITED → SAVED\n\n**After saving, you can:**\n- Send report via email for approval (`/send`)\n- Directly approve as accountant (`/approve`)\n- Reject if issues found (`/reject`)"
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: 'Successfully saved'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Report saved successfully'
                  data:
                    report:
                      id: 01HZXXX123ABC456
                      tax_payer_id: 123
                      period: '2024-03-15'
                      periodicity: monthly
                      status: saved
                      status_label: Guardado
                      report_comments: 'Reporte revisado, valores correctos'
                      total_sales_raw_value: 15000.0
                      total_taxes_to_pay_iva: 1200.0
                      updated_at: '2024-03-05T14:30:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Report saved successfully'
                  data:
                    type: object
                    properties:
                      report:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01HZXXX123ABC456
                          tax_payer_id:
                            type: integer
                            example: 123
                          period:
                            type: string
                            example: '2024-03-15'
                          periodicity:
                            type: string
                            example: monthly
                          status:
                            type: string
                            example: saved
                          status_label:
                            type: string
                            example: Guardado
                          report_comments:
                            type: string
                            example: 'Reporte revisado, valores correctos'
                          total_sales_raw_value:
                            type: number
                            example: 15000.0
                          total_taxes_to_pay_iva:
                            type: number
                            example: 1200.0
                          updated_at:
                            type: string
                            example: '2024-03-05T14:30:00.000000Z'
        400:
          description: 'Invalid status'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Cannot transition from approved to saved'
                  code: INVALID_TRANSITION
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Cannot transition from approved to saved'
                  code:
                    type: string
                    example: INVALID_TRANSITION
        404:
          description: 'Report not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Report not found for period 2024-03'
                  code: NOT_FOUND
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Report not found for period 2024-03'
                  code:
                    type: string
                    example: NOT_FOUND
        422:
          description: 'Validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Validation failed'
                  code: VALIDATION_ERROR
                  errors:
                    comments:
                      - 'Comments cannot exceed 1000 characters'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Validation failed'
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  errors:
                    type: object
                    properties:
                      comments:
                        type: array
                        example:
                          - 'Comments cannot exceed 1000 characters'
                        items:
                          type: string
      tags:
        - 'IVA Reports'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
                  description: 'Period in YYYY-MM format.'
                  example: 2024-03
                comments:
                  type: string
                  description: 'Optional comments about the report (max 1000 chars).'
                  example: 'Reporte revisado, valores correctos'
                  nullable: true
              required:
                - period
    parameters:
      -
        in: path
        name: taxNumber
        description: "The taxpayer's RUC number (13 digits)."
        example: '1726051285001'
        required: true
        schema:
          type: string
  '/api/v1/taxpayers/{taxNumber}/iva-reports/approve':
    patch:
      summary: 'Approve IVA report'
      operationId: approveIVAReport
      description: "Approves the report, changing its status to APPROVED.\nThis indicates the report has been reviewed and validated by an accountant\nand is ready for submission to the SRI (Tax Authority).\n\n**Approval means:**\n- All values have been verified\n- Report is accurate and complete\n- Ready for tax authority submission\n- No further changes from taxpayer needed\n\n**Valid transitions:**\n- SAVED → APPROVED (direct approval without sending)\n- SENT → APPROVED (after taxpayer received via email)\n\n**After approval, you can:**\n- Send to SRI draft (`/send-sri-draft`)\n- Mark as manually declared (`/mark-declared`)\n- Reset if needed (`/recalculate`)"
      parameters:
        -
          in: header
          name: x-api-key
          description: ''
          example: YOUR_API_KEY_HERE
          schema:
            type: string
        -
          in: header
          name: x-organization-id
          description: ''
          example: '{YOUR_ORGANIZATION_ID}'
          schema:
            type: string
      responses:
        200:
          description: 'Successfully approved'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  message: 'Report approved successfully'
                  data:
                    report:
                      id: 01HZXXX123ABC456
                      tax_payer_id: 123
                      period: '2024-03-15'
                      periodicity: monthly
                      status: approved
                      status_label: Aprobado
                      comments:
                        -
                          status: approved
                          comment: 'Valores verificados, aprobado para envío al SRI'
                          timestamp: '2024-03-06T10:30:00Z'
                      total_taxes_to_pay_iva: 1200.0
                      updated_at: '2024-03-06T10:30:00.000000Z'
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: 'Report approved successfully'
                  data:
                    type: object
                    properties:
                      report:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01HZXXX123ABC456
                          tax_payer_id:
                            type: integer
                            example: 123
                          period:
                            type: string
                            example: '2024-03-15'
                          periodicity:
                            type: string
                            example: monthly
                          status:
                            type: string
                            example: approved
                          status_label:
                            type: string
                            example: Aprobado
                          comments:
                            type: array
                            example:
                              -
                                status: approved
                                comment: 'Valores verificados, aprobado para envío al SRI'
                                timestamp: '2024-03-06T10:30:00Z'
                            items:
                              type: object
                              properties:
                                status:
                                  type: string
                                  example: approved
                                comment:
                                  type: string
                                  example: 'Valores verificados, aprobado para envío al SRI'
                                timestamp:
                                  type: string
                                  example: '2024-03-06T10:30:00Z'
                          total_taxes_to_pay_iva:
                            type: number
                            example: 1200.0
                          updated_at:
                            type: string
                            example: '2024-03-06T10:30:00.000000Z'
        400:
          description: 'Invalid status transition'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: "Cannot transition from draft to approved. Report must be in 'saved' or 'sent' status"
                  code: INVALID_TRANSITION
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: "Cannot transition from draft to approved. Report must be in 'saved' or 'sent' status"
                  code:
[...]
